<a href="https://wa.me/3492324821" target="_blank"><img src="/images/index/whatsapp.png" alt="Contactanos por whatsapp" class="contacto-whatsapp"></a>
            <img src="/images/index/chatbot.png" alt="Chat Bot" class="chatbot">
            <img src="/images/index/chatbot-window.png" alt="Chat Bot" class="chatbot-window inactive">