<footer>

    <!--MENU version tablet y escritorio-->

    <div class="footer-tablet-container">
        <div class="footer-tablet-izquierda">
            <ul class="footer-tablet-list">
                <li><a href="/aboutUs">ACERCA DE NOSOTROS</a></li>
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            </ul>
        </div>
        <div class="footer-tablet-redes-sociales">
            <p>REDES SOCIALES</p>

            <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
            <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>
        </div>
        <div class="footer-tablet-derecha">
            <ul class="contacto-tablet-derecha">
                <li>¿DÓNDE ESTAMOS?</li>
                <li>Armenia y Soler- CABA</li>
                <li>TEL: 0800-555-3284</li>
                <li>HORARIOS DE ATENCIÓN: Lunes a viernes de 9 a 18 hs</li>
            </ul>
        </div>
    </div>


    <!--FIN MENU version tablet y escritorio-->



    <div class="footer-container">
        <div class="footer-menu-izquierda">
            <ul class="footer-list">
                <li><a href="/aboutUs">ACERCA DE NOSOTROS</a></li>
                <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
                <li><a href="#">CONTACTANOS</a></li>
            </ul>
        </div>
        <div class="footer-redes-sociales">

            <p>REDES SOCIALES</p>

            <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
            <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>

        </div>
    </div>
    <script src="/js/main.js"></script>

</footer>