<header>
    <nav>
        <div class="nav-container">
            <div class="logo-nav">
                <!--<img src="/images/DH-gamers_Logo-final.png" alt="">!-->
            </div>
            <div class="search-nav">
                <input type="text" placeholder="Buscar producto...">
                <a href="" class="micro-icon"></a>
                </form>
            </div>
            <div class="user-nav">
                <a href="/registration"><img src="/images/index/user.png" class="imagen-ingreso-chica"></a>
                <a href="/registration"><button class="imagen-ingreso-grande">REGISTRO</button>

                    <!--<img src="/images/index/icono-ingresar.png" class="imagen-ingreso-grande">--></a>
            </div>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="main-product-list">
            <i class="fa-solid fa-list"></i>
            <ul class="menu-barra-gris">
                <li><a href="#">PRODUCTOS</a><img src="/images/index/flecha-menu.png" alt="Menú desplegable"></li>
                <li><a href="/product">PLACAS DE VIDEO</a></li>
                <li><a href="/product">MONITORES</a></li>
                <li><a href="/product">MICROPROCESADORES</a></li>
                <li><a href="/product">MOTHERBOARDS</a></li>
            </ul>


            <a href="/productCart"><img src="/images/index/8145764.png" alt="Carrito de compras"></a>
        </div>
    </section>