<header>
  <nav>
    <div class="nav-container">
      <div class="logo-nav">
        <a href="/"><img src="/images/index/DH-gamers_Logo-final.png" alt="Página de inicio"></a>
      </div>
      <div class="search-nav">
        <input type="text" placeholder="Buscar producto...">
        <a href="" class="micro-icon"></a>
        </form>
      </div>
      <div class="user-nav">
        <a href="/registration"><img src="/images/index/user.png" class="imagen-ingreso-chica"></a>
        <a href="/registration"><button class="imagen-ingreso-grande">REGISTRO / LOGIN</button></a>
        <a href="/product/list"><button class="imagen-ingreso-grande">LISTA DE PRODUCTOS</button></a>

      </div>
    </div>
  </nav>
</header>
<main>
  <section>
    <div class="main-product-list">
      <i class="fa-solid fa-list"></i>
      <ul class="menu-barra-gris">
        <li><a href="/product/all">PRODUCTOS</a><img src="/images/index/flecha-menu.png" alt="Menú desplegable">
        </li>
        <li><a href="/product/list/placasdevideo/">PLACAS DE VIDEO</a></li>
        <li><a href="/product/list/monitores/">MONITORES</a></li>
        <li><a href="/product/list/microprocesadores/">MICROPROCESADORES</a></li>
        <li><a href="/product/list/motherboards/">MOTHERBOARDS</a></li>
      </ul>


      <a href="/product/cart/"><img src="/images/index/8145764.png" alt="Carrito de compras"></a>
    </div>
  </section>
