<header>
  <nav>
    <div class="nav-container">
      <div class="logo-nav">
        <a href="/"><img src="/images/index/DH-gamers_Logo-final.png" alt="Página de inicio"></a>
      </div>
      <% if (locals.isLogged && locals.usuarioLogueado.isAdmin==1) { %>

        <a href="/product/list" class="product-list-button"><button class="imagen-ingreso-grande">LISTA DE
            PRODUCTOS</button></a>
        <% } %>

          <div class="search-nav">
            <input type="text" placeholder="Buscar producto...">
            <a href="" class="micro-icon"></a>
            </form>
          </div>


          <div class="user-nav">

            <% if (locals.isLogged) { %>
              <div class="saludo">
                Hola <%= locals.usuarioLogueado.userName %>
              </div>
              <a href="/users/profile" class="profile-photo"><img src="<%= locals.usuarioLogueado.image %> "
                  class="imagen-ingreso-chica"></a>
              <!--    <a href="/users/logout"><button class="imagen-ingreso-grande">LOGOUT</button></a>-->
              <a href="/users/logout" class="logout-icon"><i class="fas fa-sign-out-alt"></i></a>

              <% } else { %>
                <div>
                  <a href="/users/register"><button class="imagen-ingreso-grande">REGISTRO</button></a>
                  <a href="/users/login"><button class="imagen-ingreso-grande">LOGIN</button></a>
                  <img src="/images/index/user.png" class="imagen-default-chica" id="user-desplegable">
                </div>
                <% } %>


          </div>




    </div>
  </nav>
</header>
<main>
  <section>
    <div class="main-product-list">
      <i class="fa-solid fa-list" id="hamburguesa-desplegable"></i>

      <!--Menu hamburguesa-->
      <div class="menu-hamburguesa inactive" id="menu-hamburguesa">
        <div class="sub-menu-hamburguesa">
          <a href="/product/all">TODOS LOS PRODUCTOS</a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/placasdevideo/">PLACAS DE VIDEO</a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/monitores/">MONITORES</a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/microprocesadores/">MICROPROCESADORES</a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/motherboards/">MOTHERBOARDS</a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/joystick/">JOYSTICK</a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="#">CONTACTANOS</a>
        </div>


      </div>
      <!--Fin Menu hamburguesa-->

      <!--Menu USER-->

      <div class="menu-user inactive" id="menu-user">
        <div class="sub-menu-user">
          <a href="/users/register">REGISTRATE</a>
        </div>
        <div class="sub-menu-user">
          <a href="/users/login">LOGUEATE</a>
        </div>
        
      </div>


      <!--Fin menú USER-->


      <ul class="menu-barra-gris">
        <li><a href="/product/all">PRODUCTOS</a></li>
        <li><a href="/product/all/placasdevideo/">PLACAS DE VIDEO</a></li>
        <li><a href="/product/all/monitores/">MONITORES</a></li>
        <li><a href="/product/all/microprocesadores/">MICROPROCESADORES</a></li>
        <li><a href="/product/all/motherboards/">MOTHERBOARDS</a></li>
        <li><a href="/product/all/joystick/">JOYSTICKS</a></li>
      </ul>

      <% if (locals.isLogged) { %>

        <div id="cart-icon-container">
          <input id="cart-item-count" type='text' class="cart-item-count" name='cart-item-count' value='0' />
          <a href="/cart"><img src="/images/index/8145764.png" alt="Carrito de compras"></a>
        </div>

        <% } %>


    </div>

    <!-- chatbot/whatsapp -->
    <a href="https://wa.me/3492324821" target="_blank"><img src="/images/index/whatsapp.png"
        alt="Contactanos por whatsapp" class="contacto-whatsapp"></a>
    <img src="/images/index/chatbot.png" alt="Chat Bot" class="chatbot">
    <img src="/images/index/chatbot-window.png" alt="Chat Bot" class="chatbot-window inactive">

  </section>
  <script src="/public/js/main.js"></script>