<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>DH Gamers</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/registrationForm.css">
  <link rel="stylesheet" href="/css/productDetails.css">
  <link rel="stylesheet" href="/css/productCart.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/createProduct.css">
  <link rel="stylesheet" href="/css/editProduct.css">
  <link rel="stylesheet" href="/css/productsList.css">
  <link rel="stylesheet" href="/css/productsAll.css">
  <link rel="stylesheet" href="/css/profileLogin.css">
  <link rel="stylesheet" href="/css/editUser.css">
  


	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">




  <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>

</head>
