<header>
  <nav>
    <div class="nav-container">
      <div class="logo-nav">
        <a href="/"><img src="/images/index/DH-gamers_Logo-final.png" alt="Página de inicio"></a>
      </div>
      <% if (locals.isLogged && locals.usuarioLogueado.isAdmin==1) { %>

        <a href="/product/list" class="product-list-button"><button class="imagen-ingreso-grande">LISTA DE
            PRODUCTOS</button></a>
        <% } %>

          <div class="search-nav">
            <input type="text" placeholder="Buscar producto...">
            <a href="" class="micro-icon"></a>
            </form>
          </div>

          <div class="user-nav">

            <% if (locals.isLogged) { %>
              <div class="saludo">
                <i class="fa-solid fa-hand-peace"></i> Hola <%= locals.usuarioLogueado.userName %>
              </div>
              <a href="/users/profile" class="profile-photo"><img src="<%= locals.usuarioLogueado.image %> "
                  class="imagen-ingreso-chica"></a>
              <!--    <a href="/users/logout"><button class="imagen-ingreso-grande">LOGOUT</button></a>-->
              <a href="/users/logout" class="logout-icon"><i class="fas fa-sign-out-alt"></i></a>

              <% } else { %>
                <a href="/users/register">
                  <div class="imagen-ingreso-grande">
                    <i class="fa-solid fa-user-plus"
                        style="color: #000000; font-size: 1rem; margin-right: 13px;"></i>
                    <span>REGISTRO</span>
                  </div>
                </a>
                <a href="/users/login">
                  <div class="imagen-ingreso-grande">
                    <i class="fa-solid fa-circle-user"
                        style="color: #000000; font-size: 1rem; margin-right: 13px;"></i>
                    <span>LOGIN</span>
                  </div>
                </a>
                
                <img src="/images/index/user.png" class="imagen-default-chica" id="user-desplegable">

                <% } %>
          </div>

    </div>
  </nav>
</header>
<main>
  <section>
    <div class="main-product-list">
      <i class="fa-solid fa-list" id="hamburguesa-desplegable"></i>

      <!--Menu hamburguesa-->
      <div class="menu-hamburguesa inactive" id="menu-hamburguesa">
        <div class="sub-menu-hamburguesa">
          <a href="/product/all">
            <div><i class="fa-solid fa-boxes-stacked"></i></div> TODOS LOS PRODUCTOS
          </a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/placasdevideo/">
            <div> <i class="fa-solid fa-fan"></i></div> PLACAS DE VIDEO
          </a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/monitores/">
            <div><i class="fa-solid fa-desktop"></i></div>MONITORES
          </a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/microprocesadores/">
            <div> <i class="fa-solid fa-microchip"></i></div> MICROPROCESADORES
          </a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/motherboards/">
            <div> <i class="fa-solid fa-microchip"></i></div> MOTHERBOARDS
          </a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="/product/all/joystick/">
            <div><i class="fa-solid fa-gamepad"></i></div>JOYSTICK
          </a>
        </div>
        <div class="sub-menu-hamburguesa">
          <a href="#">
            <div> <i class="fa-solid fa-phone-volume"></i></div> CONTACTANOS
          </a>
        </div>


      </div>
      <!--Fin Menu hamburguesa-->

      <!--Menu USER-->

      <div class="menu-user inactive" id="menu-user">

        <div class="sub-menu-user">
          <div><a href="/users/register"><i class="fa-solid fa-user-plus"
                style="color: #000000; font-size: 0.9rem; margin-right: 13px;"></i> </div> REGISTRO</a>
        </div>

        <div class="sub-menu-user">
          <a href="/users/login"><div><i class="fa-solid fa-circle-user"
                style="color: #000000; font-size: 0.9rem; margin-right: 13px;"></i> </div> LOGIN</a>
        </div>

      </div>


      <!--Fin menú USER-->

      <ul class="menu-barra-gris">
        <li><a href="/product/all">
            <div><i class="fa-solid fa-desktop"></i></div>PRODUCTOS
          </a></li>
        <li><a href="/product/all/placasdevideo/">PLACAS DE VIDEO</a></li>
        <li><a href="/product/all/monitores/">MONITORES</a></li>
        <li><a href="/product/all/microprocesadores/">MICROPROCESADORES</a></li>
        <li><a href="/product/all/motherboards/">MOTHERBOARDS</a></li>
        <li><a href="/product/all/joystick/">JOYSTICKS</a></li>
      </ul>

      <% if (locals.isLogged) { %>

        <div id="cart-icon-container">
          <div id="cart-item-count" class="cart-item-count">
            <%= locals.items %>
          </div>

          <!-- <input id="cart-item-count" type='text' class="cart-item-count" name='cart-item-count' value='<%= locals.items %>' /> -->
          <a href="/cart"><img src="/images/index/8145764.png" alt="Carrito de compras"></a>
        </div>

        <% } %>


    </div>

    <!-- chatbot/whatsapp -->
    <a href="https://wa.me/3492324821" target="_blank"><img src="/images/index/whatsapp.png"
        alt="Contactanos por whatsapp" class="contacto-whatsapp"></a>
    <img src="/images/index/chatbot.png" alt="Chat Bot" class="chatbot">
    <img src="/images/index/chatbot-window.png" alt="Chat Bot" class="chatbot-window inactive">

  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/cartIcon.js"></script>