<div class="descripcion-fondo-negro">

    <% for( let i = 0; i < imagesFooter.length; i++ ) { %>
        <div id="fondo" class="main-imagen">
            <img src="<%= imagesFooter[i] %>">
        </div>
    <% } %>
</div>