<!--versión actualizada 27/12-->
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!--Fin del Header-->

      <!--Registration Form-->
      <!--GENERAL-->

      <div class="main-form-createProduct">
        <form action="resultado.html" method="POST" class="form">
          <!--TITLE-->
          <h1 class="title">DH-GAMERS</h1>
          <h2 class="subtitle">Crear producto</h2>
          <!--DATA ENTRY BOXES-->
          <input class="boxes-product" type="text" name="producto" placeholder="Producto, marca y modelo" required
            maxlength="100">

          <select class="boxes-product" name="categoria" id="categoria" onchange="showCategories()" required>

            <option value="none" disabled selected>Catergoría</option>
            <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
            <option value="monitores" id="monitores">Monitores</option>
            <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
            <option value="motherboards" id="motherboards">Motherboards</option>
            <option value="others" id="others">Otras</option>
          </select>

          <!--PLACA DE VIDEO-->
          <input class="boxes-product" id="tipo" type="text" name="tipo" placeholder="Tipo de memoria gráfica">
          <input class="boxes-product" id="fabricante" type="text" name="fabricante" placeholder="Fabricante">
          <select class="boxes-product" id="memoria" type="text" name="memoria">
            <option value="none" disabled selected>Memoria</option>
            <option value="4gb">4 GB</option>
            <option value="8gb">8 GB</option>
            <option value="12gb">12 GB</option>
          </select>
          <input class="boxes-product" id="interfaz" type="text" name="interfaz"
            placeholder="Interfaz con la placa madre">

          <!--MONITORES-->
          <input class="boxes-product" id="tamanio" type="text" name="tamanio" placeholder="Tamaño de pantalla">
          <input class="boxes-product" id="resolucionMonitor" type="text" name="resolucionPantalla"
            placeholder="Resolución de pantalla">
          <select class="boxes-product" id="esGamer" type="text" name="esGamer">
            <option value="none" disabled selected>Es gamer</option>
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>
          <select class="boxes-product" id="esCurvo" type="text" name="esCurvo">
            <option value="none" disabled selected>Es Curvo</option>
            <option value="si">Sí</option>
            <option value="no">No</option>
          </select>

          <!--MICROPROCESADOR-->
          <input class="boxes-product" id="memoriaSoportada" type="text" name="memoriaSoportada"
            placeholder="Tipo de memoria RAM soportada">
          <input class="boxes-product" id="generacion" type="text" name="generacion" placeholder="Generación">
          <input class="boxes-product" id="cantidadNucleos" type="text" name="cantidadNucleos"
            placeholder="Cantidad de núcleos de CPU">
          <input class="boxes-product" id="frecuencia" type="text" name="frecuencia"
            placeholder="Frecuencia máxima de reloj">

          <!--MOTHERBOARDS-->
          <input class="boxes-product" id="plataforma" type="text" name="plataforma" placeholder="Plataforma">
          <input class="boxes-product" id="chipsets" type="text" name="chipsets" placeholder="Chipsets">
          <input class="boxes-product" id="ranuras" type="text" name="ranueras" placeholder="Ranuras de extensión">
          <input class="boxes-product" id="capacidadMaxima" type="text" name="capacidadMaxima"
            placeholder="Capacidad máxima soportada de la memoria">

          <!--GENERAL-->
          <input class="boxes-product" type="text" name="precio" placeholder="Precio del Producto" required>

          <input class="boxes-product" type="text" name="descuento" placeholder="Descuento (0-50%)" maxlength="2">

          <select class="boxes-product" name="payment-means" id="payment-means">
            <option value="none" disabled selected>Pago en cuotas</option>
            <option value="sinCouta">No acepta pago en cuotas</option>
            <option value="tresCoutas">Hasta 3 cuotas s/interés</option>
            <option value="seisCoutas">Hasta 6 cuotas s/interés</option>
            <option value="doceCoutas">Hasta 12 cuotas s/interés</option>
          </select>
          <textarea class="boxes-product" name="descripcion" id="descripcion" cols="20" rows="5"
            placeholder="Descripción del producto" minlength="50" maxlength="500" required></textarea>

          <label>Imágen del producto:</label>
          <div class="product-photo">
            <input class="file" type="file" name="foto">
          </div>

          <!--BUTTON-->
          <div class="input-button">
            <button type="submit" class="button-create-product">Crear producto</button>
          </div>
      </div>
      </form>

      </main>

      <%- include("./partials/footer") %>


        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/createProduct.js"></script>

  </body>

</html>