<!--versión actualizada 27/12-->
<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <!--Fin del Header-->

      <!--Registration Form-->
      <!--GENERAL-->

      <div class="main-form-createProduct">
        <form action="/product/create" method="POST" class="form">
          <!--TITLE-->
          <h1 class="title">DH-GAMERS</h1>
          <h2 class="subtitle">Crear producto</h2>
          <!--DATA ENTRY BOXES-->
          <input class="boxes-product" type="text" name="name" placeholder="Producto, marca y modelo" required
            maxlength="100">

          <select class="boxes-product" name="categoria" id="categoria" onchange="showCategories()" required>
            <option value="none" disabled selected>Catergoría</option>
            <option value="placasDeVideo" id="placasDeVideo">Placas de Video</option>
            <option value="monitores" id="monitores">Monitores</option>
            <option value="microprocesadores" id="microprocesadores">Microprocesadores</option>
            <option value="motherboards" id="motherboards">Motherboards</option>
            <option value="waterCooling" id="waterCooling">Water Cooling</option>
            <option value="others" id="others">Otras</option>
          </select>

          <input class="boxes-product" type="text" name="price" placeholder="Precio del Producto" required>

          <input class="boxes-product" type="text" name="discount" placeholder="Descuento (0-50%)" maxlength="2">

          <select class="boxes-product" name="best-sellers" id="best-sellers" required>
            <option value="none" disabled selected>Best Sellers</option>
            <option value="si" id="si">Sí</option>
            <option value="no" id="no">No</option>
          </select>

          <input class="boxes-product" type="text" name="stock" placeholder="Cantidad de productos disponibles"
            maxlength="3">

          <input class="boxes-product" type="text" name="reviews" placeholder="cantidad de reviews">

          <textarea class="boxes-product" name="description" id="description" cols="20" rows="5"
            placeholder="Descripción del producto" minlength="50" maxlength="500" required></textarea>

          <label>Imágen del producto:</label>
          <div class="product-photo">
            <input class="file" type="file" name="sliderImage">
          </div>

          <!--BUTTON-->
          <div class="input-button">
            <button type="submit" class="button-create-product">Crear producto</button>
          </div>
      </div>
      </form>

      </main>

      <%- include("./partials/footer") %>


        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/createProduct.js"></script>

  </body>

</html>