<!DOCTYPE html>
<html>

<head>
  <title>Error 404 - Página no encontrada</title>
  <link rel="stylesheet" href="/css/error404.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <h1>Error 404</h1>
      <h2>Página no encontrada</h2>
      <p>Lo sentimos, la página que estás buscando no existe o no se encuentra disponible.</p>
      <p>Vuelve a intentarlo más tarde o revisa la dirección URL que ingresaste.</p>
    </div>
  </div>
</body>

</html>
