<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Gamers</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">


    <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo-nav">
                    <!--<img src="/images/DH-gamers_Logo-final.png" alt="">!-->
                </div>
                <div class="search-nav">
                    <input type="text" placeholder="Buscar producto...">
                    <a href="" class="micro-icon"></a>
                    </form>
                </div>
                <div class="user-nav">
                    <a href="/registration"><img src="/images/index/user.png" class="imagen-ingreso-chica"></a>
                    <a href="/registration"><button class="imagen-ingreso-grande">LOGIN</button>

                        <!--<img src="/images/index/icono-ingresar.png" class="imagen-ingreso-grande">--></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="main-product-list">
                <i class="fa-solid fa-list"></i>
                <ul class="menu-barra-gris">
                    <li><a href="#">PRODUCTOS</a><img src="/images/index/flecha-menu.png" alt="Menú desplegable"></li>
                    <li><a href="/product">PLACAS DE VIDEO</a></li>
                    <li><a href="/product">MONITORES</a></li>
                    <li><a href="/product">MICROPROCESADORES</a></li>
                    <li><a href="/product">MOTHERBOARDS</a></li>
                </ul>


                <img src="/images/index/8145764.png" alt="Carrito de compras">
            </div>
        </section>
        <section class="main-content">
            <img src="/images/index/chatbot.png" alt="Chat Bot" class="chatbot">
            <img src="/images/index/chatbot-window.png" alt="Chat Bot" class="chatbot-window inactive">

            <div class="slider-pequeño">
                <ul>
                    <li><img src="/images/index/monitor.jpg" alt="Monitor Apple" class="img-slider-sup-1"></li>
                    <li><img src="/images/index/mother.jpg" alt="Motherboard" class="img-slider-sup-2"></li>
                    <li><img src="/images/index/mother2.jpg" alt="Motherboard" class="img-slider-sup-3"></li>
                    <li><img src="/images/index/gaming.jpg" alt="Joystick" class="img-slider-sup-4"></li>
                </ul>
            </div>


            <div class="slider-grande">
                <ul>
                    <li><img src="/images/index/img-slider1.jpg" alt="Slider grande" class="img-slider-sup-1"></li>
                    <li><img src="/images/index/img-slider2.jpg" alt="Slider grande" class="img-slider-sup-2"></li>
                    <li><img src="/images/index/img-slider3.jpg" alt="Slider grande" class="img-slider-sup-3"></li>
                    <li><img src="/images/index/img-slider4.jpg" alt="Slider grande" class="img-slider-sup-4"></li>
                </ul>
            </div>
            <div class="ofertas-semanales">

                <img src="/images/index/ofertas-de-la-semana.png" alt="Ofertas semanales" class="banner-ofertas-semanales">



                <div class="carrusel-ofertas-1">
                    <!--CARRUSEL MANUAL-->


                    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                    <div id="c-slider">
                        <div id="slider">
                            <section>
                                <a href="#"><img src="/images/index/publi-15-off.jpg" alt="Publicidad 15% off"></a>
                            </section>
                            <section>
                                <a href="#"><img src="/images/index/publi-20-off.jpg" alt="Publicidad 20% off"></a>
                            </section>
                            <section>
                                <a href="#"><img src="/images/index/publi-10-off.jpg" alt="Publicidad 10% off"></a>
                            </section>
                            <section>
                                <a href="#"><img src="/images/index/publi-25-off.jpg" alt="Publicidad 25% off"></a>
                            </section>
                        </div>
                        <div id="btn-prev">&#60;</div>
                        <div id="btn-next">&#62;</div>
                    </div>


                    <!--FIN DE CARRUSEL MANUAL-->




                </div>




                <div class="ofertas-index">
                    <div class="ofertas-left">
                        <img src="/images/index/Aside-left.png" alt="Imagen vertical - Joystick">
                    </div>
                    <div class="carrusel-ofertas">
                        <!--CARRUSEL MANUAL-->


                        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                        <div id="c-slider2">
                            <div id="slider2">
                                <section>
                                    <a href="#"><img src="/images/index/publi-20-off.jpg" alt="Publicidad 20% off"></a>
                                </section>
                                <section>
                                    <a href="#"><img src="/images/index/publi-15-off.jpg" alt="Publicidad 15% off"></a>
                                </section>
                                <section>
                                    <a href="#"><img src="/images/index/publi-10-off.jpg" alt="Publicidad 10% off"></a>
                                </section>
                                <section>
                                    <a href="#"><img src="/images/index/publi-25-off.jpg" alt="Publicidad 25% off"></a>
                                </section>
                            </div>
                            <div id="btn-prev2">&#60;</div>
                            <div id="btn-next2">&#62;</div>
                        </div>

                        <img src="/images/index/hot-sale.png" alt="Hot sale" class="hot-sale-img">
                        <!--FIN DE CARRUSEL MANUAL-->




                    </div>
                    <div class="ofertas-right">
                        <img src="/images/index/Aside-right.png" alt="Realidad virtual">
                    </div>
                </div>

            </div>
            <div class="titular-mas-vendidos">
                <img src="/images/index/img-mas-vendidos.png" alt="Productos mas vendidos">
            </div>
            <div class="productos-mas-vendidos-container">
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/monitor-curvo-27-samsung.png" alt="Monitor Samsung curvo de 27 pulgadas"></a>
                    <h5>MONITOR SAMSUNG 27'</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/mother-z490.png" alt="Motherboard Z490"></a>
                    <h5>MOTHERBOARD Z490</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/mother-asus-b560.png" alt="Motherboard B560"></a>
                    <h5>MOTHERBOARD ASUS B560M</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/joystick-microsoft.png" alt="Joystick Microsoft"></a>
                    <h5>JOYSTICK MICROSOFT</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/nvidia-3070.png" alt="Placa de video Nvidia 3070"></a>
                    <h5>GPU NVIDIA 3070 GYGABITE</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/ryzen7-5700x.png" alt=" Microprocesador Ryzen 7 5700x"></a>
                    <h5>MICROPROCESADOR RYZEN 7 5700X</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/nvidia-3090.png" alt="Placa de video Nvidia 3090"></a>
                    <h5>GPU NVIDIA 3090 MSI</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="productos-mas-vendidos">
                    <a href="/product"><img src="/images/index/core-i7.png" alt="Microprocesador Intel Core i7"></a>
                    <h5>MICROPROCESADOR INTEL CORE I7 10MA G.</h5>
                    <a href="/product">
                        <p>Ver detalles</p>
                    </a>
                </div>
                <div class="marcas-trabajadas">
                    <img src="/images/index/marcas-trabajadas.png" alt="Marcas con las que trabajamos"></a>
                </div>
            </div>
            


            
        </section>
        



    </main>

    <footer>

        <!--MENU version tablet y escritorio-->

        <div class="footer-tablet-container">
            <div class="footer-tablet-izquierda">
                <ul class="footer-tablet-list">
                    <li><a href="#">ACERCA DE NOSOTROS</a></li>
                    <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
                </ul>
            </div>
            <div class="footer-tablet-redes-sociales">
                <p>REDES SOCIALES</p>

                <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
                <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>
            </div>
            <div class="footer-tablet-derecha">
                <ul class="contacto-tablet-derecha">
                    <li>¿DÓNDE ESTAMOS?</li>
                    <li>Avenida Gamers 3372 - Ciudad Hardware</li>
                    <li>TEL: 0800-555-3284</li>
                    <li>HORARIOS DE ATENCIÓN: Lunes a viernes de 9 a 18 hs</li>
                </ul>
            </div>
        </div>


        <!--FIN MENU version tablet y escritorio-->



        <div class="footer-container">
            <div class="footer-menu-izquierda">
                <ul class="footer-list">
                    <li><a href="#">ACERCA DE NOSOTROS</a></li>
                    <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
                    <li><a href="#">CONTACTANOS</a></li>
                </ul>
            </div>
            <div class="footer-redes-sociales">

                <p>REDES SOCIALES</p>

                <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
                <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>

            </div>
        </div>

    </footer>


    <script src="js/slider.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>