<!-- versión actualizada 27/12 -->
<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
        <!-- Fin del Header -->
        <!-- Registration Form -->
        <div class="main-form-login">
            <form action="/users/login" method="POST" class="formulario" id="formulario">
                <!-- TITLE -->
                <h1 class="title-login">Bienvenido a DH-GAMERS</h1>
                <h2 class="subtitle-login">Ingresá a tu cuenta personal</h2>
                
                <!-- DATA ENTRY BOXES -->
                <% if (locals.errors) { locals.errors.forEach(error=> { %>
                <p class="feedback" color="red">
                    <%= error.msg %>
                </p>
                <% }); } %>

                
                <div class="formulario__grupo" id="grupo__email">
                    <div class="formulario__grupo-input">
                        <input class="formulario__input" type="email" name="email" placeholder="Email" id="email">
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Escribe un Email válido</p>
                </div>

                <div class="formulario__grupo" id="grupo__password">
                    <div class="formulario__grupo-input">
                        <input id="formulario__input" class="formulario__input" type="password" name="password" placeholder="Contraseña" id="password">
                        <i id="eye" class="fa-regular fas fa-eye-slash eye"></i>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>

                    <p class="formulario__input-error">Escribe una contraseña válida</p>
                </div>

                <p class="keep-in-sign-text"><input type="checkbox" name="rememberPassword"> <strong>Mantenerme Registrado</strong></p>
                <br>
                <div class="olv-contraseña">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <!-- BUTTON -->
                <div class="button">
                    <button type="submit" class="button-login-account">INGRESAR</button>
                </div>
            </form>
        </div>
        </main>
        <%- include("./partials/footer") %>

        <script src="js/slider.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/eye.js"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
