<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <section class="main-content">


        <article class="products-list">

          <div class="encabezado">
            <h2 class="titulo-productos">MIS PRODUCTOS</h2>
          </div>

          <hr class="line">

          <div class="item">

            <a href="/product" class="img-product"><img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/h525.png"
                alt="product"></a>

            <div class="item-without-image">
              <div class="product-info">
                <a class="url-product" href="/product">
                  <p class="product-name">ROG STRIX LC LI 360</p>
                </a>
                <p class="product-category">Water Cooling</p>
              </div>
              <div class="price">U$S 219</div>
              <div class="edit-buttons-container">
                <a href="/editProduct"><button class="edit-button"><i class="fas fa-pencil"></i></button></a>
                <button class="edit-button"><i class="fas fa-trash-alt"></i></button>

              </div>
            </div>

          </div>

          <hr class="line">
          <div class="item">

            <a href="/product" class="img-product"><img src="\images\samsungMonitor\lado2.png" alt="product"></a>

            <div class="item-without-image">
              <div class="product-info">
                <a class="url-product" href="/product">
                  <p class="product-name">Samsung F390 series</p>
                </a>
                <p class="product-category">Monitores</p>
              </div>
              <div class="price">U$S 349</div>
              <div class="edit-buttons-container">
                <a href="/editProduct"><button class="edit-button"><i class="fas fa-pencil"></i></button></a>
                <button class="edit-button"><i class="fas fa-trash-alt"></i></button>
              </div>
            </div>
          </div>

          <hr class="line">

          <div class="create-buttons-container">
            <a href="/createProduct"><button class="create-button">+</button></a>
          </div>

        </article>


      </section>

      </main>


      <%- include("./partials/footer") %>

  </body>

</html>