<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Gamers</title>

    <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetails.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo-nav">
                    <!--<img src="/images/DH-gamers_Logo-final.png" alt="">!-->
                </div>
                <div class="search-nav">
                    <input type="text" placeholder="Buscar producto...">
                    <a href="" class="micro-icon"></a>
                    </form>
                </div>
                <div class="user-nav">
                    <a href="/"><img src="/images/index/user.png" class="imagen-ingreso-chica"></a>
                    <a href="/"><button class="imagen-ingreso-grande">LOGIN</button>

                        <!--<img src="/images/index/icono-ingresar.png" class="imagen-ingreso-grande">-->
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="main-product-list">
                <i class="fa-solid fa-list"></i>
                <ul class="menu-barra-gris">
                    <li><a href="#">PRODUCTOS</a><img src="/images/index/flecha-menu.png" alt="Menú desplegable"></li>
                    <li><a href="/product">PLACAS DE VIDEO</a></li>
                    <li><a href="/product">MONITORES</a></li>
                    <li><a href="/product">MICROPROCESADORES</a></li>
                    <li><a href="/product">MOTHERBOARDS</a></li>
                </ul>
                <img src="/images/index/8145764.png" alt="Carrito de compras">
            </div>
        </section>

        <div class="titulo-producto">
            <h2 class="categoria"> Water Cooling </h2>
            <h1 class="nombre-producto"> ROG STRIX LC LI 360 </h1>
        </div>

        <div class="rating">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star-half-stroke"></i> <span>MAS VENDIDO</span>
        </div>

        <div class="contenedor-version-laptop">

            <!-- image slider start -->
            <div class="carrusell-producto">
                <div class="slides">
                    <!-- radio buttons start -->
                    <input type="radio" name="radio-btn" id="radio1" checked>
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <input type="radio" name="radio-btn" id="radio5">
                    <input type="radio" name="radio-btn" id="radio6">
                    <input type="radio" name="radio-btn" id="radio7">
                    <!-- radio buttons end -->
                    <!-- slide images start -->
                    <div class="slide first">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/h525.png">
                    </div>
                    <div class="slide">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/frente.png">
                    </div>
                    <div class="slide">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/detalle2.png">
                    </div>
                    <div class="slide">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/box.png">
                    </div>
                    <div class="slide">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/ventilador.png">
                    </div>
                    <div class="slide">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/contacto.png">
                    </div>
                    <div class="slide">
                        <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/mapa.png">
                    </div>
                    <!-- slide images end -->
                    <!-- automatic navigation start -->

                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                        <div class="auto-btn5"></div>
                        <div class="auto-btn6"></div>
                        <div class="auto-btn7"></div>
                    </div>
                    <!-- automatic navigation end -->

                    <!-- manual navigation start -->
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                        <label for="radio5" class="manual-btn"></label>
                        <label for="radio6" class="manual-btn"></label>
                        <label for="radio7" class="manual-btn"></label>
                    </div>

                </div>
                <!-- manual navigation end -->
            </div>
            <!-- image slider end -->

            <div class="box-producto">
                <div class="detalle-costo-envio">

                    <div class="costo-producto">
                        <h3 class="descuento">-20% Descuento</h3>
                        <h2 class="precio"> US$ 219</h2>
                    </div>

                    <h4>Precio Recomendado: <strike> US$ 249 </strike></h4>

                    <div class="envio-stock">
                        <h6>Entrega para el Miercoles 16 de Diciembre <i class="fa-solid fa-truck-fast"></i>
                        </h6>
                        <h5>Devolucion Gratis <i class="fa-solid fa-circle-check"></i></h5>
                        <h4>Tenes 30 dias desde que lo recibis </h4>
                    </div>
                </div>

                <div class="botones-de-compra">
                    <input class="boton-cantidad" type="button" value="Cantidad: 1    (Disponibles 150)"
                        onclick="msg()">
                    <input class="boton-comprar" type="button" value="Comprar ahora" onclick="msg()">
                    <input class="boton-agrega-carrito" type="button" value="Agregar al carrito" onclick="msg()">
                </div>

            </div>

        </div>

        <div class="descripcion-producto">
            <h4>DESCRIPCION DEL PRODUCTO</h4>

            <h3> Refrigerador de CPU líquido todo en uno ROG Strix LC II 360 con Aura Sync, Intel® LGA 1700,
                1200, 1150,
                1151, 1152, 1155, 1156, 2011, 2011-3, 2066 y compatibilidad con AMD AM4/TR4 y tres ventiladores
                de radiador ROG de 120 mm
            </h3>

            <ul>
                <li>La bomba Asetek de séptima generación ofrece una refrigeración excepcional y un ruido mínimo
                    con un funcionamiento
                    rango a partir de 840 rpm.</li>
                <li>Tres ventiladores de radiador diseñados por ROG proporcionan un flujo de aire y una presión
                    estática optimizados.</li>
                <li>La iluminación ARGB en la cubierta de la bomba recubierta de NCVM transmite un diseño
                    elegante y moderno.</li>
                <li>La estética complementa a la perfección las placas base ROG desde el centro del escenario.
                </li>
                <li>Los tubos reforzados con mangas ofrecen una mayor durabilidad.</li>
            </ul>
            <br />

            <h4>COMPATIBILIDAD INTEGRAL</h4>

            <h3> La serie ROG Strix LC II es compatible con una amplia gama de plataformas de placas base Intel® y
                AMD, lo que le brinda la flexibilidad de emparejarla con el procesador que elija. Con 380 mm de
                tubería a su disposición, la instalación del radiador es igualmente flexible en una variedad de
                chasis.
            </h3>
        </div>

        <div class="descripcion-fondo-negro">

            <h3> ROG Strix LC II 360 ofrece refrigeración líquida de CPU de alto rendimiento con una estética
                elegante y moderna. Con un diseño de circuito cerrado y ventiladores de radiador ROG, el
                enfriador libera todo el potencial de una CPU Intel® o AMD al tiempo que permite sutiles efectos
                de iluminación multicolor para acentuar su construcción.
            </h3>
            <ul>
                <li>ROG Radiator Fans.</li>
                <li>Illuminated ROG Logo</li>
                <li>380 mm Sleeved Rubber Tubing</li>
            </ul>

            <div id="fondo" class="main-imagen">
                <img src="images//waterCooling/Asus_Rog_Strix_LcLi_360/box-1.png">
            </div>

            <h3> Los ventiladores del radiador ROG están específicamente ajustados para ofrecer un rendimiento
                óptimo en los radiadores de la serie ROG Strix LC II. Los ventiladores generan 81 CFM/5,0 mmH2O para
                una eficiencia de refrigeración excepcional
            </h3>

            <div id="fondo" class="main-imagen">
                <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/radiate.png">
            </div>

            <h3> La serie ROG Strix LC II está equipada con el último diseño de placa de refrigeración. Mecanizada a
                partir de cobre puro, la placa presenta una variedad de finos microcanales que reducen la
                resistencia térmica y aumentan el área de superficie, lo que resulta en temperaturas de CPU más
                bajas.
            </h3>

            <div id="fondo" class="main-imagen">
                <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/info.png">
            </div>

            <h3> El control PWM permite que tanto la bomba como los ventiladores del radiador giren a velocidades
                más lentas cuando la CPU está inactiva o con poca carga, lo que ayuda a mantener los niveles de
                ruido al mínimo.
            </h3>

            <div id="fondo" class="main-imagen">
                <img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/chasis.png">
            </div>
        </div>

        <!-- </div>
                        <h4>PRODUCTOS RELACIONADOS</h4>
            </div>  -->

    </main>

    <footer>

        <!--MENU version tablet y escritorio-->

        <div class="footer-tablet-container">
            <div class="footer-tablet-izquierda">
                <ul class="footer-tablet-list">
                    <li><a href="#">ACERCA DE NOSOTROS</a></li>
                    <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
                </ul>
            </div>
            <div class="footer-tablet-redes-sociales">
                <p>REDES SOCIALES</p>

                <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
                <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>
            </div>
            <div class="footer-tablet-derecha">
                <ul class="contacto-tablet-derecha">
                    <li>¿DÓNDE ESTAMOS?</li>
                    <li>Avenida Gamers 3372 - Ciudad Hardware</li>
                    <li>TEL: 0800-555-3284</li>
                    <li>HORARIOS DE ATENCIÓN: Lunes a viernes de 9 a 18 hs</li>
                </ul>
            </div>
        </div>


        <!--FIN MENU version tablet y escritorio-->



        <div class="footer-container">
            <div class="footer-menu-izquierda">
                <ul class="footer-list">
                    <li><a href="#">ACERCA DE NOSOTROS</a></li>
                    <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
                    <li><a href="#">CONTACTANOS</a></li>
                </ul>
            </div>
            <div class="footer-redes-sociales">

                <p>REDES SOCIALES</p>

                <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
                <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>

            </div>
        </div>

    </footer>

    <script type="text/javascript">
        var counter = 2;
        setInterval(function () {
            document.getElementById('radio' + counter).checked = true;
            counter++;
            if (counter > 7) {
                counter = 1
            }
        }, 5000);
    </script>

</body>

</html>