<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DH Gamers</title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/productCart.css">
  <link rel="stylesheet" href="/css/normalize.css">

  <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

<body>
  <header>
    <nav>
      <div class="nav-container">
        <div class="logo-nav">
          <!--<img src="/images/index/DH-gamers_Logo-final.png" alt="">!-->
        </div>
        <div class="search-nav">
          <input type="text" placeholder="Buscar producto...">
          <a href="" class="micro-icon"></a>
          </form>
        </div>
        <div class="user-nav">
          <!--<img src="/images/index/user.png">!-->
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div class="main-product-list">
        <i class="fa-solid fa-list"></i>
        <img src="/images/index/8145764.png" alt="">
      </div>
    </section>

    <section class="main-content">
      <h2 class="titulo">Mi carrito</h2>
      <article class="products-to-buy">

        <hr class="line">

        <div class="product">

          <img class="img-product" src="/images/productDetails1/h525.png" alt="product">
          <div class="product-details">
            <div class="product-info">
              <a class="url-product" href="/product">
                <p class="product-name">ROG STRIX LC LI 360</p>
              </a>
              <p class="product-category">Water Cooling</p>

            </div>

            <div class="price-qty-container">
              <div class="quantity">
                <button class="qtyminus" aria-hidden="true">&minus;</button>
                <input class="qty-box" type="number" name="qty" id="qty" min="1" max="10" step="1" value="1">
                <button class="qtyplus" aria-hidden="true">&plus;</button>
              </div>
              <div class="price">$10.000</div>
            </div>

          </div>
        </div>

        <hr class="line">

        <div class="product">

          <img class="img-product" src="/images/productDetails1/h525.png" alt="product">
          <div class="product-details">
            <div class="product-info">
              <a class="url-product" href="/product">
                <p class="product-name">ROG STRIX LC LI 360</p>
              </a>
              <p class="product-category">Water Cooling</p>

            </div>

            <div class="price-qty-container">
              <div class="quantity">
                <button class="qtyminus" aria-hidden="true">&minus;</button>
                <input class="qty-box" type="number" name="qty" id="qty" min="1" max="10" step="1" value="1">
                <button class="qtyplus" aria-hidden="true">&plus;</button>
              </div>
              <div class="price">$10.000</div>
            </div>

          </div>
        </div>

        <hr class="line">
        <div class="product">

          <img class="img-product" src="/images/productDetails1/h525.png" alt="product">
          <div class="product-details">
            <div class="product-info">
              <a class="url-product" href="/product">
                <p class="product-name">ROG STRIX LC LI 360</p>
              </a>
              <p class="product-category">Water Cooling</p>

            </div>

            <div class="price-qty-container">
              <div class="quantity">
                <button class="qtyminus" aria-hidden="true">&minus;</button>
                <input class="qty-box" type="number" name="qty" id="qty" min="1" max="10" step="1" value="1">
                <button class="qtyplus" aria-hidden="true">&plus;</button>
              </div>
              <div class="price">$10.000</div>
            </div>

          </div>
        </div>

        <hr class="line">


      </article>

      <article class="total-price">
        <div class="total">
          <p>Total</p>
          <p>$10.000</p>
        </div>
        <div class="envio">
          <p>Envío</p>
          <p>$1.200</p>
        </div>
        <div class="total-con-envio">
          <p>Total con envío</p>
          <p>$11.200</p>
        </div>
      </article>

      <input class="boton-comprar" type="button" value="Comprar" onclick="msg()">

    </section>

  </main>


  <footer>
    <div class="footer-container">
      <div class="footer-menu-izquierda">
        <ul class="footer-list">
          <li><a href="#">ACERCA DE NOSOTROS</a></li>
          <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
          <li><a href="#">CONTACTANOS</a></li>
        </ul>
      </div>
      <div class="footer-redes-sociales">

        <p>REDES SOCIALES</p>

        <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
        <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>

      </div>
    </div>

  </footer>

</body>

</html>