<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Gamers</title>

    <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetails.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="logo-nav">
                    <!--<img src="/images/DH-gamers_Logo-final.png" alt="">!-->
                </div>
                <div class="search-nav">
                    <input type="text" placeholder="Buscar producto...">
                    <a href="" class="micro-icon"></a>
                    </form>
                </div>
                <div class="user-nav">
                    <!--<img src="/images/user.png">!-->
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="main-product-list">
            <i class="fa-solid fa-list"></i>
            <img src="/images/index/8145764.png" alt="product-cart">
        </section>
        
        <section class="main-content">
            
            <div class="titulo-producto">
                <h3> Water Cooling </h3>
                <h2> Asus Rog Strix Lc Li 360 </h2>
            </div>

            <div class="carrousel-producto">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/productDetails1/frente.webp" alt="foto">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/productDetails1/detalle.webp" alt="foto">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/productDetails1/detalle2.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/productDetails1/ventilador.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/productDetails1/box.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/productDetails1/mapa.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/productDetails1/contacto.webp" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>  
            </div>

            <div class="detalle-producto">
                <div id="cuadrotexto">
                        <h3 class="alinearizq">-20% Descuento</h3>
                        <h2 class="alinearder"> US$ 219</h2>
                        <h4>Precio Recomendado: <strike> US$ 249 </strike> <h3>
                </div>
                <div style="clear: both;"> </div>
                
                <div class="envio">           
                    <h6>Entrega para el Miercoles 16 de Diciembre <i class="fa-solid fa-truck-fast"></i><h6>
                    <h5>Disponible <i class="fa-solid fa-circle-check"></i></h5>
                </div>

                <div class="botones">
                    <input type="button" value="CANTIDAD" onclick="msg()">
                    <input type="button" value="AGREGAR AL CARRITO" onclick="msg()">
                </div>
            </div>
                
            <div class="descripcion">
                <h4>Descripcion del Producto</h4>

                <h3> 
                    - ANTES DE COMPRAR PREGUNTE FECHA DE ENTREGA.
                    - ENVIAMOS POR MERCADOENVIOS
                    - PUEDE RETIRAR POR AHORA SOLO POR QUILMES, MICROCENTRO ESTA CERRADO, POR ESO...
                    - EN CABA (CAPITAL FEDERAL) ENVIAMOS SIN CARGO ESTE PRODUCTO.
                    - FORMA DE PAGO : MERCADOPAGO
                    - HACEMOS FACTURA A.
                    - ELBAZARDIGITAL VENDEDOR PLATINUM
                    - TODOS NUESTROS PRODUCTOS EN:

                    -X-X-X-

                    - SOMOS IMPORTADORES DIRECTOS, ESTE PRODUCTO SE COMPRA Y SE IMPORTA DESDE ESTADOS UNIDOS, ESTO IMPLICA QUE USTED ESTA COMPRANDO EL MISMO PRODUCTO QUE COMPRARÍA UN CLIENTE DE ESE PAÍS.

                    - ANTES DE REALIZAR UNA CONSULTA, VISUALICE TODAS LAS IMAGENES DEL PRODUCTO.

                    - Titulo de Catalogo Original :
                    Asus Rog Strix Lc Ii 360 Argb All-in-one Aio Liquid Cpu Cooler 360mm Radiator, Intel Lga1700, 115x/2066 And Amd Am4/tr4 Support,triple 120mm 4-pin Pwm Addressable Rgb Radiator Fans

                    la bomba asetek de septima generacion ofrece una refrigeracion excepcional y un ruido minimo con un rango de funcionamiento que comienza en 840 rpm
                    - ventiladores de radiador argb diseñados por rog para optimizar el flujo de aire y la presion estatica
                    - la bomba de recubrimiento rgb y ncvm direccionable individualmente acentua el sueño, la estetica moderna
                    - diseñado para complementar la placa base rog, en el centro del escenario de su construccion
                    - tubos reforzados con mangas para una mayor durabilidad
                    - compatibilidad con zocalo de cpu: amd: am4, tr4 intel: lga 1700, 1200, 115x, 1366, 2011, 2011-3, 2066


                    asus rog strix lc ii 360 argb es la solucion perfecta para los entusiastas de rgb y ofrece refrigeracion liquida de cpu de alto rendimiento con una estetica limpia. con un diseño de circuito cerrado y ventiladores de radiador rgb direccionables, libera todo el potencial de su cpu intel o amd desbloqueada, mientras acentua aun mas su construccion con brillantes efectos de iluminacion multicolor.
                </h3>
                 <a href="http//:www.google.com" class="btn btn-primary"> IR A .... </a>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-container">
            <div class="footer-menu-izquierda">
                <ul class="footer-list">
                    <li><a href="#">ACERCA DE NOSOTROS</a></li>
                    <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
                    <li><a href="#">CONTACTANOS</a></li>
                </ul>
            </div>
            <div class="footer-redes-sociales">

                <p>REDES SOCIALES</p>

                <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
                <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>

            </div>
        </div>

    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>