<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DH Gamers</title>

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/productCart.css">
  <link rel="stylesheet" href="/css/normalize.css">

  <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>

<body>
  <header>
    <nav>
      <div class="nav-container">
        <div class="logo-nav">
          <!--<img src="/images/DH-gamers_Logo-final.png" alt="">!-->
        </div>
        <div class="search-nav">
          <input type="text" placeholder="Buscar producto...">
          <a href="" class="micro-icon"></a>
          </form>
        </div>
        <div class="user-nav">
          <a href="/registration"><img src="/images/index/user.png" class="imagen-ingreso-chica"></a>
          <a href="/registration"><button class="imagen-ingreso-grande">REGISTRO</button>

            <!--<img src="/images/index/icono-ingresar.png" class="imagen-ingreso-grande">--></a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div class="main-product-list">
        <i class="fa-solid fa-list"></i>
        <ul class="menu-barra-gris">
          <li><a href="#">PRODUCTOS</a><img src="/images/index/flecha-menu.png" alt="Menú desplegable"></li>
          <li><a href="/product">PLACAS DE VIDEO</a></li>
          <li><a href="/product">MONITORES</a></li>
          <li><a href="/product">MICROPROCESADORES</a></li>
          <li><a href="/product">MOTHERBOARDS</a></li>
        </ul>


        <a href="/productCart"><img src="/images/index/8145764.png" alt="Carrito de compras"></a>
      </div>
    </section>

    <section class="main-content">

      <div class="main-content-grey">

        <article class="products-to-buy">

          <div class="encabezado">
            <h2 class="titulo">MI COMPRA</h2>
          </div>

          <hr class="line">
          <div class="product">

            <a href="/product" class="img-product"><img src="images/waterCooling/Asus_Rog_Strix_LcLi_360/h525.png"
                alt="product"></a>

            <div class="product-without-image">
              <div class="product-details">
                <div class="product-info">
                  <a class="url-product" href="/product">
                    <p class="product-name">ROG STRIX LC LI 360</p>
                  </a>
                  <p class="product-category">Water Cooling</p>
                </div>
                <i class="fas fa-trash-alt"></i>
              </div>
              <div class="price-qty-container">
                <form class="qty-picker-container">
                  <input type='button' value='-' class='qty-picker qty-minus' field='quantity' />
                  <input type='text' name='quantity' value='0' class='qty-picker' />
                  <input type='button' value='+' class='qty-picker qty-plus' field='quantity' />
                </form>
                <div class="price">U$S 219</div>
              </div>


            </div>
          </div>

          <hr class="line">
          <div class="product">

            <a href="/product" class="img-product monitor"><img src="\images\samsungMonitor\lado2.png"
                alt="product"></a>

            <div class="product-without-image">
              <div class="product-details">
                <div class="product-info">
                  <a class="url-product" href="/product">
                    <p class="product-name">Samsung F390 series</p>
                  </a>
                  <p class="product-category">Monitores</p>
                </div>
                <i class="fas fa-trash-alt"></i>
              </div>
              <div class="price-qty-container">
                <form class="qty-picker-container">
                  <input type='button' value='-' class='qty-picker qty-minus' field='quantity' />
                  <input type='text' name='quantity' value='0' class='qty-picker' />
                  <input type='button' value='+' class='qty-picker qty-plus' field='quantity' />
                </form>
                <div class="price">U$S 349</div>
              </div>


            </div>
          </div>

          <hr class="line">
        </article>

        <div class="steps">

          <article class="container-step">
            <h1 class="title-steps">PASO 1</h1>

            <form class="shipment-method" action="post">
              <div class="label-radio">
                <label for="shipment-method">Seleccione el método de envío <i id="truck"
                    class="fas fa-truck"></i></label>
              </div>
              <div class="input-radio">
                <input type="radio" name="shipment-method" value="envio"><label for="" id="shipment"> Envío a
                  domicilio</label>
              </div>
              <div class="input-radio">
                <input type="radio" name="shipment-method" value="envioExpress"><label for="" id="shipment"> Envío a
                  domicilio EXPRESS</label>
              </div>
              <div class="input-radio">
                <input type="radio" name="shipment-method" value="retiro"><label for="" id="shipment"> Retiro en
                  tienda</label>
              </div>
            </form>
          </article>

          <article class="container-step">
            <h1 class="title-steps">PASO 2</h1>
            <form class="payment-methods" action="post">
              <div class="label-radio">
                <label for="payment-methods">Seleccione el método de pago <i id="credit-card"
                    class="fas fa-credit-card"></i></label>
              </div>
              <div class="input-radio">
                <input type="radio" name="payment-methods" value="tarjeta"><label for="" id="payment"> Tarjeta Crédito/
                  Débito</label>
              </div>
              <div class="input-radio">
                <input type="radio" name="payment-methods" value="efectivo"><label for="" id="payment"> Efectivo</label>
              </div>
            </form>

          </article>

          <article class="container-step">
            <h1 class="title-steps">PASO 3</h1>
            <p class="summary">Resumen de compra <i id="cart" class="fas fa-shopping-cart"></i></p>
            <div class="total-price">
              <p>Total</p>
              <p class="final-price">U$S 568</p>
            </div>

          </article>

        </div>

        <div class="input-button">
          <input class="boton-comprar" type="button" value="Comprar" onclick="msg()">
        </div>
      </div>
    </section>

  </main>


  <footer>

    <!--MENU version tablet y escritorio-->

    <div class="footer-tablet-container">
      <div class="footer-tablet-izquierda">
        <ul class="footer-tablet-list">
          <li><a href="#">ACERCA DE NOSOTROS</a></li>
          <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
        </ul>
      </div>
      <div class="footer-tablet-redes-sociales">
        <p>REDES SOCIALES</p>

        <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
        <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>
      </div>
      <div class="footer-tablet-derecha">
        <ul class="contacto-tablet-derecha">
          <li>¿DÓNDE ESTAMOS?</li>
          <li>Avenida Gamers 3372 - Ciudad Hardware</li>
          <li>TEL: 0800-555-3284</li>
          <li>HORARIOS DE ATENCIÓN: Lunes a viernes de 9 a 18 hs</li>
        </ul>
      </div>
    </div>

    <!--FIN MENU version tablet y escritorio-->

    <div class="footer-container">
      <div class="footer-menu-izquierda">
        <ul class="footer-list">
          <li><a href="#">ACERCA DE NOSOTROS</a></li>
          <li><a href="#">PPREGUNTAS FRECUENTES</a></li>
          <li><a href="#">CONTACTANOS</a></li>
        </ul>
      </div>
      <div class="footer-redes-sociales">

        <p>REDES SOCIALES</p>

        <a href="https://www.facebook.com"><img src="/images/index/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="/images/index/instagram.png" alt="Instagram"></a>
        <a href="https://www.twitter.com"><img src="/images/index/twitter.png" alt="Twitter"></a>

      </div>
    </div>

  </footer>

</body>

</html>