* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-form-createProduct {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10%;
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}

/*--TITLE--*/
.main-form-createProduct h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.main-form-createProduct h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  font-size: 18px;
}

.subtitle-create-product {
  margin-bottom: 10px;
}

/*--FORM--*/

.cp_formulario {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  font-family: sans-serif;
  justify-content: center;
  padding-top: 0px;
}

/*DATA ENTRY BOXES*/
.boxes-product-create {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 3px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all .5s ease;
  border: 2px solid #4f4c4c;
  border-left: 10px solid #061161;
  outline: none;
}

.label-img {
  margin-top: 20px;
}

.boxes-product-create:hover,
.boxes-product-create:focus {
  border-left: 10px solid #780206;
}

/*TEXTS*/

textarea {
  resize: vertical
}

#tamanio,
#resolucionMonitor,
#esGamer,
#esCurvo {
  display: none;
}

#tipo,
#fabricante,
#memoria,
#interfaz {
  display: none;
}

#memoriaSoportada,
#generacion,
#cantidadNucleos,
#frecuencia {
  display: none;
}

#plataforma,
#chipsets,
#ranuras,
#capacidadMaxima {
  display: none;
}

/* BUTTON */
.button-create-product {
  height: 25px;
  width: 200px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: var(--light-blue);
  cursor: pointer;
  transition: all 450ms;
}

.button-create-product:hover {
  background-color: #64afa6;
}


.input-button {
  text-align: center;
  margin: 0 3.5% 3.5% 3.5%;
}

.product-photo {
  margin: 0;
}

.file {
  width: 100%;
  max-width: 500px;
  padding: 15px 0px;
  margin-bottom: 20px;

}

/*CSS de validaciones*/

.cp_formulario__grupo-input {
	position: relative;
}

.cp_formulario__input {
	width: 100%;
  max-width: 500px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all .5s ease;
  border-color: 5px solid #061161;
  border-left: 10px solid #061161;
	transition: .3s ease all;
}


.cp_formulario__input-error {
	font-size: 12px;
  margin-top: 10px;
	margin-bottom: 0;
	display: none;
}

.cp_formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 50;
  font-size:16px;
  opacity: 0;
}

.cp_formulario__input-error-activo {
	display: block;
  color: red;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.cp_formulario__grupo-correcto .cp_formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
  z-index: 1;
}

.cp_formulario__grupo-incorrecto .cp_formulario__label {
	color: #bb2929;
}

.cp_formulario__grupo-incorrecto .cp_formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.cp_formulario__grupo-incorrecto .cp_formulario__input {
	border: 3px solid #bb2929;
}

.categoria_cp_formulario__validacion-estado fas fa-times-circle {
  align-items: center;
}

/*DATA ENTRY BOXES*/
.errors {
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  margin-left: 5px;
  font-size: 12px;
  color: #780206;
  display: none
}

.register-boxes {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all .5s ease;
  border-color: 5px solid #061161;
  border-left: 10px solid #061161;
}

#date {
  margin-top: 2px;
}

.register-boxes:hover,
.register-boxes:focus {
  border-left: 10px solid #780206;
  outline: none;
}

.cp_fecha {
  padding-top: 15px;
  padding-bottom: 0px;
}