* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-form-createProduct {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10%;
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}

/*--TITLE--*/
.main-form-createProduct h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.main-form-createProduct h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-bottom: 30px;
  font-size: 18px;
}

/*--FORM--*/

.form {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  font-family: sans-serif;
  justify-content: center;
  padding-top: 0px;
}

/*DATA ENTRY BOXES*/
.boxes-product {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all .5s ease;
  border: 2px solid #4f4c4c;
  border-left: 10px solid #061161;
  outline: none;
}
.boxes-product:hover,
.boxes-product:focus {
  border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  border-left: 10px solid #780206;

}

.input1{
	position: relative; 
}
.form__grupo1{
  position: relative;
}
.form__validacion-estado1 .input1 {
  position: absolute;
  top: 50%;
  font-size:16px;
  right: 10px;
  z-index: 100;
  opacity:0
}

.form__input1-error1 {
	font-size: 12px;
	margin-bottom: 0;
	display: none
}
.form__input1-error1-activo {
	display: block;
}

/* parte nueva de la validacion ,creacion y modificacion productos*/

.from__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.from__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.form__grupo1-correcto .form__validacion-estado1 {
	color: #1ed12d;
	opacity: 1;
}

.form__grupo1-incorrecto .form__validacion-estado1 {
	color: #bb2929;
}

.form__grupo1-incorrecto .form__validacion-estado1 {
	color: #bb2929;
	opacity: 1;
}

.form__grupo1-incorrecto .form__input1 {
	border: 3px solid #bb2929;
}

/*TEXTS*/

textarea {
  resize: vertical
}

#tamanio,
#resolucionMonitor,
#esGamer,
#esCurvo {
  display: none;
}

#tipo,
#fabricante,
#memoria,
#interfaz {
  display: none;
}

#memoriaSoportada,
#generacion,
#cantidadNucleos,
#frecuencia {
  display: none;
}

#plataforma,
#chipsets,
#ranuras,
#capacidadMaxima {
  display: none;
}

/* BUTTON */
.button-create-product {
  height: 25px;
  width: 200px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: var(--light-blue);
  cursor: pointer;
  transition: all 450ms;
}

.button-create-product:hover {
  background-color: #64afa6;
}


.input-button {
  text-align: center;
  margin: 0 3.5% 3.5% 3.5%;
}

.product-photo {
  margin: 0;
}

.file {
  width: 100%;
  max-width: 500px;
  padding: 15px 0px;
  margin-bottom: 20px;
  cursor: pointer;

}

