* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-form-createProduct {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10%;
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
}

/*--TITLE--*/
.main-form-createProduct h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.subtitle-edit-product {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-bottom: 30px;
  font-size: 18px;
}

/*--FORM--*/

.form {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  font-family: sans-serif;
  justify-content: center;
  padding-top: 0px;
}

/*DATA ENTRY BOXES*/
.boxes-product {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: all .5s ease;
  border: 2px solid #4f4c4c;
  border-left: 10px solid #061161;
  outline: none;
}

.boxes-product:hover,
.boxes-product:focus {
  border-left: 10px solid #780206;
}


/*TEXTS*/

textarea {
  resize: vertical;
}

#pencil {
  color: #061161;
  font-size: 20px;
  margin-left: 4px;
}
.fieldName {
padding: 5px;
}

/* BUTTON */
.button-create-product {
  height: 25px;
  width: 200px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: var(--light-blue);
  cursor: pointer;
  transition: all 450ms;
}

.button-create-product:hover {
  background-color: #64afa6;
}


.input-button {
  text-align: center;
  margin: 3.5% 3.5% 3.5%;
}

.product-photo {
  margin: 0;
}

.file {
  width: 100%;
  max-width: 500px;
  padding: 15px 0px;
  margin-bottom: 20px;

}