
.main-content {
    color: white;
   
    
}

.main-content h3 {
    text-align: center;
    font-size: 16px;
}



.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}

.slider ul {
    
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes cambio {
    0% { margin-left:0;}
    20% { margin-left:0;}

    25% { margin-left:-100%;}
    45% { margin-left:-100%;}

    50% { margin-left:-200%;}
    70% { margin-left:-200%;}

    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}

.ofertas-semanales {
    
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background: -webkit-linear-gradient(to left, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #061161, #780206);
    border-top: 1px solid black;
    
    justify-content: center;
    align-items: center;
}

.titular-ofertas-semana {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: white;
    border-top: white 1px dashed;
    border-bottom: white 1px dashed;
}




.carrusel-ofertas {
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    
    color: transparent;
}



/*CARRUSEL MANUAL*/


#c-slider {
    margin: auto;
    width: 95%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 4px #fff,
                0 15px 50px;
}

#slider {
    display: flex;
    width: 400%;
}

#slider section {
width: 100%;
}

#slider img {
    display: block;
    width: 100%;
    height: 100%;
}

#btn-prev, #btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
    color: black;
}

#btn-prev:hover, #btn-next:hover {
    background: rgba(255, 255, 255, 1);
}

#btn-prev {
    left: 10px;
}

#btn-next {
    right: 10px;
}


/*FIN CARRUSEL MANUAL*/

.titular-mas-vendidos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    background-color: white;
    color: red;
    
    border-left: 1px solid #780206;
    border-right: 1px solid #061161;
}

.titular-mas-vendidos i {
    color: orange;
}

.productos-mas-vendidos-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productos-mas-vendidos{
    padding: 10px;
    max-width: 50%;
}

.productos-mas-vendidos img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.productos-mas-vendidos p {
    font-size: 13px;
}

.productos-mas-vendidos a {
    text-decoration: none;
    color: white;
}

.productos-mas-vendidos a:hover {
    color:#02CFB7;
}


