
html body{
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Roboto+Condensed&display=swap');


.main-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 120px;
    
   width: 100%;
    
}

.menu-hamburguesa {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 38px;
    background-color: -webkit-linear-gradient(to left, #061161, #780206);
    
    display: flex;
    flex-direction: column;
    z-index: 100;
    

}

.sub-menu-hamburguesa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: white; */
    background: -webkit-linear-gradient(to left, white, grey);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, white, grey);
    border: solid 1px black;
    height: 50px;
    cursor: pointer;
}

.sub-menu-hamburguesa a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: all 500ms ;
    font-weight: bold;
}

.sub-menu-hamburguesa:hover {
    border: 1px solid rgb(98, 17, 17);
    background-color: black;
    
}

.sub-menu-hamburguesa:hover a{
    color: white;
    
}

/* Menu USER */

.menu-user {
    width: 80%;
    position: absolute;
    right: 0px;
    top: 38px;
    background-color: -webkit-linear-gradient(to left, #061161, #780206);
    
    display: flex;
    flex-direction: column;
    z-index: 100;
    

}

.sub-menu-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: -webkit-linear-gradient(to left, white, grey);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, white, grey);
    border: solid 1px black;
    height: 50px;
    cursor: pointer;
}

.sub-menu-user a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: all 500ms ;
    font-weight: bold;
}

.sub-menu-user:hover {
    border: 1px solid rgb(98, 17, 17);
    background-color: black;
    
}

.sub-menu-user:hover a{
    color: white;
    
}



/* Fin menu user */

.contacto-whatsapp {
    display: none;
    position: fixed;
    bottom: 130px;
    right: 10px;
    width: 100px;
    opacity: 65%;
    cursor: pointer;
    z-index: 50;
    
}

.contacto-whatsapp:hover {
    opacity: 100%;
    
}

.chatbot {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 80px;
    opacity: 65%;
    cursor: pointer;
    z-index: 50;
    
}



.inactive {
    display: none;
}

.chatbot-window {
    
    position: fixed;
    bottom: 140px;
    right: 100px;
    width: 20%;
    min-width: 300px;
    
    cursor: pointer;
    z-index: 50;
    
}

.chatbot:hover {
    opacity: 100%;
    
}



.main-content h3 {
    text-align: center;
    font-size: 16px;
}




.slider-pequeño {
    max-width: 1400px;
    width: 100%;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}

.slider-pequeño ul {
    
    display: flex;
    max-height: 400px;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider-pequeño li {
    list-style: none;
    width: 100%;
}

.slider-pequeño img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.slider-grande {
    max-width: 1400px;
    width: 100%;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}

.slider-grande ul {
    
    display: flex;
    max-height: 100%;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider-grande li {
    list-style: none;
    width: 100%;
}

.slider-grande img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.slider-grande {
    display: none;
}

.agregarCarritoDisplay {
    display: none 
}
  
.productos-mas-vendidos:hover .agregarCarritoDisplay {
    display: block;
  }
      
.productos-mas-vendidos p {
    font-size: 13px;
    height: 25px;
    text-align: center;
}





@keyframes cambio {
    0% { margin-left:0;}
    20% { margin-left:0;}

    25% { margin-left:-100%;}
    45% { margin-left:-100%;}

    50% { margin-left:-200%;}
    70% { margin-left:-200%;}

    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}

.ofertas-semanales {
    max-width: 1400px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    
    
    justify-content: center;
    align-items: center;
}

.ofertas-semanales img {
    
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.banner-ofertas-semanales {
    border-bottom: 1px solid rgb(90, 89, 89);
}



.titular-ofertas-semana {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: white;
    border-top: white 1px dashed;
    border-bottom: white 1px dashed;
}



.ofertas-index {
    width: 100%;
    max-height: 850px;
    display: none;
    justify-content: center;
    align-items: center;
}

.ofertas-left {
    width: 15%;
    height: 828px;
    
    
}

.ofertas-left img {
    width: 190px;
    height: 828px;
    object-fit: cover;
}

.ofertas-right {
    width: 15%;
    height: 828px;
    display: flex;
    justify-content: end;
    
    
}

.ofertas-right img {
    align-self: right;
    width: 190px;
    height: 828px;
    object-fit: cover;
}

.carrusel-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    width: 70%;
    
    
    
    color: transparent;
}

.carrusel-ofertas img {
    padding: 0px;
}


.hot-sale-img {
    position: relative;
    cursor: pointer;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px !important;
   margin-top: 20px !important;
    width: 80% !important;
    transition: all 500ms ;
    
}

.hot-sale-img:hover {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    background-color: #780206;
}


.carrusel-ofertas-1 {
    
    padding: 10px;
    margin-top: 10px;
    
    
    
    
    color: transparent;
}

.carrusel-ofertas-1 img {
    padding: 0px;
}



/*CARRUSEL MANUAL*/


#c-slider {
    margin: auto;
    width: 95%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 4px #fff,
                0 15px 50px;
}

#c-slider2 {
    margin: auto;
    width: 95%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 4px #fff,
                0 15px 50px;
}

#slider {
    display: flex;
    width: 400%;
}

#slider2 {
    display: flex;
    width: 400%;
}

#slider section {
width: 100%;
}

#slider2 section {
    width: 100%;
    }

#slider img {
    display: block;
    width: 100%;
    height: 100%;
}

#slider2 img {
    display: block;
    width: 100%;
    height: 100%;
}

#btn-prev, #btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
    color: black;
}

#btn-prev2, #btn-next2 {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
    color: black;
}

#btn-prev:hover, #btn-next:hover {
    background: rgba(255, 255, 255, 1);
}

#btn-prev2:hover, #btn-next2:hover {
    background: rgba(255, 255, 255, 1);
}

#btn-prev {
    left: 10px;
}

#btn-prev2 {
    left: 10px;
}

#btn-next {
    right: 10px;
}

#btn-next2 {
    right: 10px;
}

/*FIN CARRUSEL MANUAL*/


.titular-mas-vendidos {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    }

    .titular-mas-vendidos img {
        margin-top: 5px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-bottom: 5px;
        width: 100%;
        }


.productos-mas-vendidos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.productos-mas-vendidos{
    padding: 10px;
    max-width: 80%;
}

.productos-mas-vendidos img {
    width: 98%;
    object-fit: contain;
    padding: 3px;
}

.imagen-container {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: -webkit-linear-gradient(to left, #061161, #780206);
}

.productos-mas-vendidos img:hover {
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}

.productos-mas-vendidos p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos-mas-vendidos h5 {
    color: lightgrey
}

.productos-mas-vendidos p {
    text-decoration: none;
    color: lightgrey;
}

.productos-mas-vendidos p:hover {
    color:#02CFB7;
    text-decoration: underline;
}

.marcas-trabajadas {
    width: 100%;
    
}

.marcas-trabajadas img {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.5);
}

.hot-sales {
    text-align: center;
}

.fondo-contacto h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
    color: white;
    text-align: center;
    padding-top: 25px;
}

.fondo-contacto form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 88%;
    margin: 20px auto;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
  }  

  .fondo-contacto label {
    font-weight: bold;
  }
  
  .fondo-contacto input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
  }
   
  .fondo-contacto input[type="submit"]:hover {
    background-color: #3e8e41;
  }


  .fondo-contacto {
    background: -webkit-linear-gradient(to left, #061161, #780206);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #061161, #780206);
  } 

 .fondo-contacto input[type="text"], .fondo-contacto input[type="email"], .fondo-contacto textarea {
    border-radius: 5px;
    border: none;
    padding: 4px;
  } 
    .fondo-contacto label, .fondo-contacto input, .fondo-contacto textarea {
    display: block;
    width: 100%;
    margin: 10px;
  } 


@media (min-width: 600px){

    .menu-hamburguesa {
        display: none;
    }

    .productos-mas-vendidos{
        max-width: 50%;
    }
}

@media (min-width: 768px){
    .productos-mas-vendidos{
        max-width: 33%;
    }

    .chatbot {
        display: block;
    }

    .contacto-whatsapp {
        display: block;
    }
}





@media (min-width: 1400px) {
    .ofertas-index {
        width: 100%;
        max-height: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrusel-ofertas-1 {
        display: none;
    }

    .slider-grande {
        display: block;
    }

    .slider-pequeño {
        display: none;
    }

    .main-content {
        padding-top: 30px;
    }

    .productos-mas-vendidos{
        max-width: 25%;
    }

    .marcas-trabajadas img {
        width: 100%;
    }
}

