



.main-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 120px;
    
   width: 100%;
    
}

.main-content h3 {
    text-align: center;
    font-size: 16px;
}




.slider-pequeño {
    max-width: 1400px;
    width: 100%;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}

.slider-pequeño ul {
    
    display: flex;
    max-height: 400px;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider-pequeño li {
    list-style: none;
    width: 100%;
}

.slider-pequeño img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.slider-grande {
    max-width: 1400px;
    width: 100%;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}

.slider-grande ul {
    
    display: flex;
    max-height: 100%;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider-grande li {
    list-style: none;
    width: 100%;
}

.slider-grande img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.slider-grande {
    display: none;
}



@keyframes cambio {
    0% { margin-left:0;}
    20% { margin-left:0;}

    25% { margin-left:-100%;}
    45% { margin-left:-100%;}

    50% { margin-left:-200%;}
    70% { margin-left:-200%;}

    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}

.ofertas-semanales {
    max-width: 1400px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    
    
    justify-content: center;
    align-items: center;
}

.ofertas-semanales img {
    
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.banner-ofertas-semanales {
    border-bottom: 1px solid rgb(90, 89, 89);
}



.titular-ofertas-semana {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: white;
    border-top: white 1px dashed;
    border-bottom: white 1px dashed;
}



.ofertas-index {
    width: 100%;
    max-height: 850px;
    display: none;
    justify-content: center;
    align-items: center;
}

.ofertas-left {
    width: 15%;
    height: 828px;
    
    
}

.ofertas-left img {
    width: 190px;
    height: 828px;
    object-fit: cover;
}

.ofertas-right {
    width: 15%;
    height: 828px;
    display: flex;
    justify-content: end;
    
    
}

.ofertas-right img {
    align-self: right;
    width: 190px;
    height: 828px;
    object-fit: cover;
}

.carrusel-ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    width: 70%;
    
    
    
    color: transparent;
}

.carrusel-ofertas img {
    padding: 0px;
}


.hot-sale-img {
    cursor: pointer;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px !important;
   margin-top: 20px !important;
    width: 80% !important;
    transition: all 500ms ;
    
}

.hot-sale-img:hover {
    box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
    background-color: #780206;
}


.carrusel-ofertas-1 {
    
    padding: 10px;
    margin-top: 10px;
    
    
    
    
    color: transparent;
}

.carrusel-ofertas-1 img {
    padding: 0px;
}



/*CARRUSEL MANUAL*/


#c-slider {
    margin: auto;
    width: 95%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 4px #fff,
                0 15px 50px;
}

#slider {
    display: flex;
    width: 400%;
}

#slider section {
width: 100%;
}

#slider img {
    display: block;
    width: 100%;
    height: 100%;
}

#btn-prev, #btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
    color: black;
}

#btn-prev:hover, #btn-next:hover {
    background: rgba(255, 255, 255, 1);
}

#btn-prev {
    left: 10px;
}

#btn-next {
    right: 10px;
}


/*FIN CARRUSEL MANUAL*/

.titular-mas-vendidos {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    }

    .titular-mas-vendidos img {
        margin-top: 5px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-bottom: 5px;
        width: 100%;
        }



.productos-mas-vendidos-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productos-mas-vendidos{
    padding: 10px;
    max-width: 80%;
}

.productos-mas-vendidos img {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    
    margin-bottom: 5px;
}

.productos-mas-vendidos img:hover {
    box-shadow: 0px 2px 10px 1px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}

.productos-mas-vendidos p {
    font-size: 13px;
}

.productos-mas-vendidos a {
    text-decoration: none;
    color: white;
}

.productos-mas-vendidos a:hover {
    color:#02CFB7;
}


@media (min-width: 600px){
    .productos-mas-vendidos{
        max-width: 50%;
    }
}

@media (min-width: 768px){
    .productos-mas-vendidos{
        max-width: 33%;
    }
}





@media (min-width: 1400px) {
    .ofertas-index {
        width: 100%;
        max-height: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrusel-ofertas-1 {
        display: none;
    }

    .slider-grande {
        display: block;
    }

    .slider-pequeño {
        display: none;
    }

    .main-content {
        padding-top: 30px;
    }

    .productos-mas-vendidos{
        max-width: 25%;
    }
}

