
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}
.main-form {
    background-color: white; 
    display: flex;
    flex-direction: column; 
    margin: 10%;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
}

/*--TITLE--*/
.main-form h1 {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-form h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-bottom: 30px;
}

/*--FORM--*/
.form{
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    font-family: sans-serif;
    justify-content: center;
}

/*DATA ENTRY BOXES*/
.boxes{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all .5s ease;
    border-color: 5px solid #061161;
    border-left: 10px solid #061161;
}

.boxes:hover, .boxes:focus {
    border-left: 10px solid #780206;
}


/* BUTTON */
.button-create-account {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    width: 40%;
    border-radius: 5px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--light-blue);
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.button-create-account:hover {
    background-color: #061161;
    color: white;
    box-shadow: 0px 0px 10px rgb(141, 47, 47);
    font-weight:lighter 
}

.button {
    text-align: center;
    margin: 0 3.5% 3.5% 3.5%;
  }


/*Texts*/
.keep-in-sign-text {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 20px;
}
.olv-contraseña {
    margin: auto;
    padding: 15px;
}
