* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}
.main-form-login {
    background-color: white; 
    display: flex;
    flex-direction: column; 
    margin: 180px 30px 80px 30px;
    position: relative;
    padding-top: 20px;
    margin-bottom: 5%;
    width: 70%;
    margin-left: 15%;
}


.title-login {
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.subtitle-login {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
}

.form{
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    font-family: sans-serif;
    justify-content: center;
}


.boxes{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all .5s ease;
    border-color: 5px solid #061161;
    border-left: 10px solid #061161;
}

.boxes:hover, .boxes:focus {
    border-left: 10px solid #780206;
}


/* BUTTON */
.button-login-account {
    width: 200px;
    border-radius: 5px;
    border: none;
    padding-bottom: 8px;
    padding-top: 10px;
    background-color: var(--light-blue);
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}

.button-login-account:hover {
    background-color: #061161;
    color: white;
    box-shadow: 0px 0px 10px rgb(141, 47, 47);
    font-weight:lighter 
}

.button {
    text-align: center;
    margin: 0 3.5% 3.5% 3.5%;
  }



.keep-in-sign-text {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 16px;
}
.olv-contraseña {
    margin: auto;
    padding: 15px;
}


@media (min-width: 1200px) {
    .main-form-login {
       min-height: 800;
    }
}