:root {
  --white: #FFFFF;
  --light-blue: #02CFB7;
  --blue: #061161;
  --red: #780206;
  --black: #000000;
}

.main-content {
  position: relative;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  color: black;
}

.products-to-buy {
  display: flex;
  width: 95%;
  max-height: 350px;
  padding: 10px;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(232, 229, 229);
  background-size: contain;
  overflow-y: auto;
  margin-left: 2.5%;
}

.titulo {
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
  color: whitesmoke;
}

.product {
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
}

.img-product {
  max-width: 89px;
  display: flex;
  flex-direction: row;
  width: 25%;
  padding-right: 5px;
  cursor: hand;
}

.img-product img {
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: left;
}

.product-info {
  flex-grow: 70%;
  text-align: justify;
  font-size: 12px;
}

.url-product {
  text-decoration: none;
  color: #000000;
}

.url-product:hover {
  font-weight: 400;
  cursor: hand;
}

.product-name {
  font-weight: bold;
}

.product-category {
  font-size: 10px;
}

.price-qty-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 30%;
}

.quantity {
  display: flex;
}

.qty-box {
  width: 40%;
  text-align: center;
}

.total-price {
  display: flex;
  background-color: rgb(232, 229, 229);
  background-size: contain;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.total,
.envio {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 5px 0px;
}

.total-con-envio {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 0px;
}

.line {
  margin: 8px 0px 8px;
}

.boton-comprar {
  height: 25px;
  width: 250px;
  border-radius: 5px;
  border: none;
  margin-bottom: 8px;
  background-color: var(--light-blue);
  align-self: center;
}

@media (min-width: 425px) {
  .total-price, .products-to-buy {
    width: 80%;
    margin-left: 10%;
  } 
  .boton-comprar {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .total-price, .products-to-buy {
    width: 80%;
    margin-left: 10%;
  } 
  .boton-comprar {
    transition: all 450ms;
    width: 350px;
  }
  main section .boton-comprar:hover {
    background-color: #64afa6;
  }

  .product{
    transition: all 450ms;
  }

  main section .product:hover{
    opacity: 0.7;
  }
}

@media (min-width: 1000px) {
  .boton-comprar {
    margin-left: 25%;
    transition: all 450ms;
    width: 50%;
    margin-top: 20px;
  }
  main section .boton-comprar:hover {
    background-color: #64afa6;
  }

  .product{
    transition: all 450ms;
  }

  main section .product:hover{
    opacity: 0.7;
  }

  .total-price {
    width: 20%;
    margin: 0px 20px;
    justify-content: flex-start;
    gap: 20px;
  } 

  .products-to-buy {
    width: 70%;
    margin-left: 5%;
  }

  .main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .titulo {
    width: 100%;
  }
}