* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.main-imagen img{
    width: auto; 
    max-height: 100%; 
}

.main-imagen  {
    height: 300px;
    text-align: center;
    background-color: white;
    background-color: linear-gradient(to left, #061161, #780206);

   }

.main-titulo {
    background-color: linear-gradient(to left, #061161, #780206);
    color: white;
    height: 70px;
}

.main-info {
    border-top: solid 1px black;
}

.precio-final {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    font-size: 16px;
}

.descuento {
    font-size: 13px;
}

.precio {
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}

.main-detalle h4{
    font-size: 10px;
    color: grey;
}
.main-detalle h6{
    font-size: 13px;
    color: black;
}

.main-detalle h5{
    font-size: 15px;
    color: green;
}

.main-detalle {
    padding:15px;
    background-color: white;
    margin-bottom: 15px;
}

.boton-compra {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.descripcion {
    padding: 20px;
    background-color: white;
    color: black;
}

.descripcion h3 {
    font-size: 13px;
}

.descripcion li {
    font-size: 10px;
}

.descripcion ul {
    padding-left: 1rem;
}