

.main-imagen img{
    width: 100%;
}

.main-imagen  {
    width: 100%;
    text-align: center;
    background-color: white;
   }

.main-titulo {
    background: linear-gradient(to left, #061161, #780206);
    color: white;
    padding-top: 125px;
    text-align: center;
}
.fixed-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #333;
	color: white;
    
}
.main-titulo h1 {
    font-size: 24px;
    margin-bottom: 3px;
}
.main-titulo h2 {
    font-size: 10px;
}
.titulo {
    text-align: center;
}
.precio-final {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}
.descuento {
    font-size: 13px;
}
.precio {
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
}
.main-detalle h4{
    font-size: 10px;
    color: grey;
    margin-top: -6px;
}
.main-detalle h6{
    font-size: 13px;
    color: black;
}
.main-detalle h5{
    font-size: 15px;
    color: green;
    padding-bottom: 4px;
}
.main-detalle {
    padding: 15px;
    padding-top: 45px;
    background-color: white;
}
.descripcion {
    padding: 28px;
    background-color: whitesmoke;;
    color: black;
    line-height: 23px;
}
.descripcion h3 {
    font-size: 12px;
    text-align: justify;
    padding-bottom: 12px;
}
.descripcion h4 {
    padding-bottom: 10px;
}
.descripcion li {
    font-size: 10px;
}
.descripcion ul {
    padding-left: 1rem;
}
.detalles-extra {
    padding: 28px;
    background-color: black;
    color: whitesmoke;
    line-height: 23px;
}
.detalles-extra h3 {
    font-size: 12px;
    text-align: justify;
    padding-bottom: 12px;
}

.detalles-extra li {
    font-size: 10px;
}
.detalles-extra ul {
    padding-left: 1rem;
}
.botones-de-compra {
    border-radius: 10px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.envio-stock {
    padding-top: 12px;
}
.boton-agrega-carrito, .boton-comprar {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
}
.boton-agrega-carrito {
background-color: #b8f9fa;
/* opacity: 0.4; */
}
.boton-comprar {
    background-color: #02CFB7;
    }
.boton-cantidad {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px;
    border: none;
}
.box-foto1 h3{
    font-size: 12px;
    text-align: center;
}
.box-foto1 li{
    font-size: 12px;
    padding-top: 20px;
}
.main.image {
background-color: black;
}

.contenedor-laptop {
    background-color: white;
}



/* CSS FOR CARRUSEL */
.slider {
    width:97%;
    margin: auto;
    background-color: white;
    box-sizing: content-box;
    overflow: hidden;
}
.slides {
    width: 500%;
    display: flex;
    text-align: center;
    background-color: white;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img{
    width: -webkit-fill-available;
}
.navigation-manual {
    position: absolute;
    width: 97%;
    display: flex;
    justify-content: center;
    margin-top: 65%;
}
.manual-btn {
    border: 1.5px solid #252221;
    padding:5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 25px;
}
.manual-btn:hover {
background: black
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}#radio4:checked ~ .first {
    margin-left: -60%;
}#radio5:checked ~ .first {
    margin-left: -80%;
}#radio6:checked ~ .first {
    margin-left: -100%;
}#radio7:checked ~ .first {
    margin-left: -120%;
}    
/* css for automatic navigation */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 97%;
    justify-content: center;
    margin-top: 65%;
}
.navigation-auto div {
    border: 1.5px solid #252221;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 25px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;  
    background: #780206
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;  
    background: #061161
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;  
    background: #780206
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: black;  
    background: #061161
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background: black;  
    background: #780206
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background: black;  
    background: #061161
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: black;  
    background: #061161
}



@media (min-width: 768px) {
    
    .main-detalle {
        display: flex;
        align-items: center;
        justify-content: space-around;
    };

    .detalle-general {
        width: 375px;
    }
 
}

@media (min-width: 1024px) {

    .slider {
        max-width: 50%;
        margin: 0;
    }

    .navigation-manual, .navigation-auto {
        margin-top: 32%;
        width: 45%;
    }
    
    .contenedor-laptop {
        display: flex;
        justify-content: space-around;
    }

    .main-detalle {
        display: block;
    }


}
