:root {
  --white: #FFFFF;
  --light-blue: #02CFB7;
  --blue: #061161;
  --red: #780206;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

.main-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  color: black;
}

.main-content-grey {
  margin: 5%;
  background-color: lightgrey;
  border-radius: 3px;
  width: 90%;
}

.products-to-buy {
  width: 93%;
  padding: 10px;
  background-color: white;
  margin: 3.5%;
  border-radius: 3px;
  box-shadow: -2px -2px 2px #919191;
}

.titulo {
  font-size: 15px;
  text-align: center;
  color: var(--black);
  padding-top: 5px;
  font-weight: bold;
}

.product {
  display: flex;
  justify-content: flex-start;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

.product-without-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.price {
  font-size: 18px;
}

.img-product {
  max-width: 89px;
  display: flex;
  flex-direction: row;
  cursor: hand;
  background: white;
}


.img-product img {
  width: 100%;
  height: fit-content;
}

.quantity {
  font-size: 77%;
}

.price-qty-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 30%;
}

.qty-picker-container {

  display: flex;
  gap: 0px;
  border-radius: px;
}

.qty-picker {
  outline: none;
  border: solid #272727 0.5px;
  border-radius: 0;
  font-size: 12px;
  width: 25px;
  height: 20px;
  text-align: center;
}


.qty-minus {
  border-radius: 10px 0px 0px 10px;
  border-right: none;
  padding-bottom: 2.5px;
  line-height: 0px;
  width: 18px;
  height: 20px;
}

.qty-plus {
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  padding-bottom: 2.5px;
  line-height: 0px;
  width: 18px;
  height: 20px;
}

.product-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 15px;
}

.product-info {
  flex-grow: 70%;
  text-align: justify;
  font-size: 12px;
}

.url-product {
  text-decoration: none;
  color: #000000;
}

.url-product:hover {
  font-weight: 400;
  cursor: hand;
}

.product-name {
  font-weight: 600;
  font-size: 13px;
}

.product-category {
  font-size: 12px;
}


.product-details i {
  font-size: 10px;
  color: #272727;
}

.steps {
  display: flex;
  flex-direction: column;
}

.container-step {
  margin: 0 3.5% 3.5% 3.5%;
  width: 93%;
  background-color: white;
  border: solid #919191 1px;
  border-radius: 3px;
  box-shadow: -2px -2px 2px #c9c8c8;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.title-steps {
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 10px 5px 15px;
  border-bottom: lightgrey solid 2px;
}

.shipment-method,
.payment-methods {
  padding: 0px 10px 5px 0px;
}

.summary {
  padding: 0px 10px 5px 15px;
}

#truck,
#credit-card,
#cart {
  color: #272727;
  font-size: 15px;
  margin-left: 4px;
}

.label-radio {
  padding: 0px 10px 10px 15px;
}

.input-radio {
  padding: 0px 10px 5px 15px;
  font-size: 14px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 10px 15px;
  font-size: 16px;
  font-weight: 600;
}

.final-price {
  font-size: 18px;
  color: var(--blue);
  padding-right: 5px;
}

.line {
  margin: 5px 0px 5px;
  background-color: lightgrey;
  height: 0.1px;
  border: none;
  outline: none;
}


.boton-comprar {
  height: 25px;
  width: 250px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: var(--light-blue);
  cursor: pointer;
}

.input-button {
  text-align: center;
  margin: 0 3.5% 3.5% 3.5%;
}

@media (min-width: 425px) {
  .main-content-grey {
    font-size: 18 px;
  }

  .products-to-buy {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .container-step {
    width: 90%;
    margin-left: 5%;
  }

  .img-product {
    max-width: 95px;
  }

  .product-details i {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .product-name {
    width: max-content ;
  }

  .main-content-grey {
    font-size: 18px;
    margin: 2% 12.5%;
    width: 75%;
  }

  .products-to-buy {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2.5%;
  }

  .container-step {
    width: 94%;
    margin-left: 10px;
    margin-bottom: 2.5%;
  }

  .title-steps {
    padding-top: 12px;
    padding-left: 17px;
    padding-bottom: 8px;
  }

  .shipment-method,
  .payment-methods {
    padding: 5px 20px 20px 5px;
  }

  .input-radio{
    padding-bottom: 10px;
  }

  .label-radio{
    padding-bottom: 15px;
  }

  .summary {
    padding: 5px 20px 15px 16px;
  }

  .total-price {
    padding: 5px 40px 30px 16px;
  }

  .titulo{
    padding-top: 18px;
    padding-bottom: 5px;
  }

  .img-product {
    max-width: 170px;
  }

  .product-details i {
    font-size: 15px;
  }

  .product-without-image {
    gap: 20px;
    padding-right: 30px;
  }

  .boton-comprar {
    transition: all 450ms;
  }

  .carrito-vacio {
    margin-top: 30px;
      color: white; 
      text-align: center; 
      font-size: 20px;
  }
  .carrito-vacio a {
    color: white;
    font-size: 16px;
  }
  .carrito-vacio:hover a {
    color: #64afa6;
  }

  main section .boton-comprar:hover {
    background-color: #64afa6;
  }

  .product {
    transition: all 450ms;
  }

  main section .product:hover {
    opacity: 0.7;
  }
}
