.descripcion-producto {
    font-family: roboto, Microsoft JhengHei, sans-serif;
}

.descripcion-fondo-negro {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: none;
}

.descripcion-fondo-negro ul {
    font-size: 12px;
    padding-left: 15px;
}

.descripcion-producto h4 {
    font-size: 20px;
    padding-bottom: 22px;

}

.descripcion-producto h3 {
    font-size: 13px;
    text-align: justify;
    padding-bottom: 12px;
}

.descripcion-producto li {
    font-size: 12px;
}

span {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 9.5px;
    padding: 7px 0px 0px 3px;
}

.fa-star,
.fa-star-half-stroke {
    color: goldenrod;
    padding: 3px 0px 0px 3px;
}

.rating {
    background-color: white;
}

.main-imagen img {
    width: 100%;
}

.titulo-producto {
    background: linear-gradient(to left, #061161, #780206);
    color: white;
    padding-top: 125px;
    text-align: center;
}

.fixed-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #333;
    color: white;
}

.titulo-producto h1 {
    font-size: 21px;
    margin-bottom: 3px;
}

.titulo-producto h2 {
    font-size: 12px;
}

.nombre-producto {
    text-align: center;
}

.costo-producto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.descuento {
    font-size: 17px;
}

.precio {
    text-align: left;
    font-size: 22px;
    padding: 6px;
}

.box-producto h4 {
    font-size: 11px;
    color: grey;
}

.box-producto h6 {
    font-size: 12px;
    color: black;
}

.box-producto h5 {
    font-size: 16px;
    color: green;
}

.box-producto {
    background-color: white;
}

.detalle-costo-envio {
    padding: 18px
}

.descripcion-producto {
    padding: 22px 29px;
    background-color: whitesmoke;
    color: black;
    text-align: justify;
    line-height: 23px;
}

.descripcion-producto ul {
    padding-left: 1rem;
    width: 95%;
}

.descripcion-fondo-negro {
    background-color: black;
    color: whitesmoke;
    line-height: 23px;
    padding: 22px 29px;
}

.descripcion-fondo-negro h3 {
    font-size: 12px;
    text-align: justify;
}

.descripcion-fondo-negro h3:first-of-type {
    padding: 40px 0px 16px;
}

.descripcion-fondo-negro img {
    cursor: pointer;
    transition: 4s;
}

.descripcion-fondo-negro img:hover {
    transform: scale(1.05);
}


.carrusell-producto img {
    cursor: pointer;
    transition: 5s;
}

.carrusell-producto img:active {
    transform: scale(120%);
}

.envio-stock {
    padding-top: 15px;
    line-height: 30px;
}

.boton-agrega-carrito,
.boton-comprar {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
}

.botones-de-compra {
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.boton-agrega-carrito {
    background-color: #80f0f2;
    /* opacity: 0.4; */
}

.boton-comprar {
    background-color: #02CFB7;
}

.boton-comprar:hover,
.boton-agrega-carrito:hover {
    opacity: 0.5;
}

.boton-cantidad {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px;
    border: none;
}

.box-foto1 h3 {
    font-size: 12px;
    text-align: center;
}

.box-foto1 li {
    font-size: 12px;
    padding-top: 20px;
}

.main.image {
    background-color: black;
}

.contenedor-version-laptop {
    background-color: white;
}

#fondo {
    width: 96%;
    margin: auto;
}

/* CSS FOR CARRUSEL */
.carrusell-producto {
    margin: auto;
    background-color: white;
    box-sizing: content-box;
    overflow: hidden;
    padding-bottom: 18px;
}

.slides {
    width: 500%;
    display: flex;
    text-align: center;
    background-color: white;
}

.slides input {
    display: none;
}

.carrusell-producto .slide {
    width: 20%;
    transition: 2s;
}

.carrusell-producto .slide img {
    width: -webkit-fill-available;
}

.carrusell-producto .navigation-manual {
    position: absolute;
    width: 97%;
    display: flex;
    justify-content: center;
    margin-top: 62%;
}

.manual-btn {
    border: 1.5px solid #252221;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 25px;
}

.manual-btn:hover {
    background: black
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

#radio6:checked~.first {
    margin-left: -100%;
}

#radio7:checked~.first {
    margin-left: -120%;
}

/* css for automatic navigation */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 97%;
    justify-content: center;
    margin-top: 62%;
}

.navigation-auto div {
    border: 1.5px solid #252221;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 25px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: black;
    background: #780206
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: black;
    background: #061161
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: black;
    background: #780206
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: black;
    background: #061161
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background: black;
    background: #780206
}

#radio6:checked~.navigation-auto .auto-btn6 {
    background: black;
    background: #061161
}

#radio7:checked~.navigation-auto .auto-btn7 {
    background: black;
    background: #061161
}

.quantity {
    text-align: center;
    width: 30px;
} 

@media (min-width: 768px) {

    .box-producto {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .detalle-costo-envio {
        width: 401px;
    }

    .titulo-producto h2 {
        font-size: 14px;
    }

    .titulo-producto h1 {
        font-size: 22px;
    }

    .descripcion-producto h4 {
        font-size: 21px;
    }

    .descripcion-producto h3 {
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
    }

    .descripcion-fondo-negro h3 {
        font-size: 13px;
    }

    .descripcion-fondo-negro ul {
        font-size: 13px;
    }

    .descuento {
        font-size: 18px;
    }

    .precio {
        font-size: 23px;
    }

    .box-producto h4 {
        font-size: 12px;
    }

    .box-producto h6 {
        font-size: 13px;
    }

    .box-producto h5 {
        font-size: 17px;
    }

}



@media (min-width: 1024px) {

    .carrusell-producto {
        max-width: 50%;
        margin: 0;
    }

    .carrusell-producto .navigation-manual,
    .navigation-auto {
        margin-top: 32%;
        width: 45%;
    }

    .contenedor-version-laptop {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .box-producto {
        display: block;
    }

    .descripcion-producto li {
        font-size: 13px;
        font-weight: normal;
        padding-top: 6px;
    }

    .titulo-producto h2 {
        font-size: 17px;
    }

    .titulo-producto h1 {
        font-size: 26px;
    }

    .descripcion-producto h4 {
        font-size: 24px;
    }

    .descripcion-producto h3 {
        font-size: 18px;
    }

    .descripcion-fondo-negro ul {
        font-size: 17px;
    }

    .descuento {
        font-size: 22px;
    }

    .precio {
        font-size: 26px;
    }

    .box-producto h4 {
        font-size: 16px;
    }

    .box-producto h6 {
        font-size: 16px;
    }

    .box-producto h5 {
        font-size: 21px;
    }

    .detalle-costo-envio {
        padding: 0px 18px;
    }

    .descripcion-producto {
        padding: 32px 29px;
    }

    .descripcion-fondo-negro h3 {
        width: 70%;
        margin: auto;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }

    .descripcion-fondo-negro h3:first-of-type {
        padding: 40px 0px 16px;
    }

    .descripcion-fondo-negro li {
        text-align: left;

    }

    .box-producto {
        height: 350px;
    }

}