:root {
  --white: #FFFFF;
  --light-blue: #02CFB7;
  --blue: #061161;
  --red: #780206;
  --black: #000000;
}

* {
  box-sizing: border-box;
}

.main-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  color: black;
}

.products-list {
  width: 90%;
  padding: 10px;
  background-color: white;
  margin: 5%;
  border-radius: 3px;
  font-size: 13px;
}

.titulo-productos {
  font-size: 15px;
  text-align: center;
  color: #272727;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}


.item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
}

.unidades {
  display: none;
  
}

.price {
  font-size: 13px;
  font-weight: 600;
  display: none;
}

.product-name {
  font-weight: 600;
  font-size: 13px;
}

.product-category {
  font-size: 12px;
}

.line {
  margin: 5px 0px 5px;
  background-color: lightgrey;
  height: 0.1px;
  border: none;
  outline: none;
}

.edit-buttons-container {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: rgb(194, 194, 199);
  border: #272727 solid 1px;
  cursor: pointer;
  margin: 2px;
}

.edit-button i {
  font-size: 12px;
  color: #272727;
}

.create-buttons-container{
  display: flex;
  justify-content: flex-end;
}

.create-button {
  height: 20px;
  width: 20px;
  font-size: 18px;
  color: #272727;
  border-radius: 3px;
  background-color: rgb(194, 194, 199);
  border: #272727 solid 1px;
  cursor: pointer;
  text-align: center;
  margin-right: 12px; 
}


@media (min-width: 425px) {

  .item {
    padding-left: 15px;
  }
  
  .titulo-productos {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .products-list {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 3%;
  }

  .edit-button {
    width: 25px;
    height: 25px;
  }

  .edit-button i {
    font-size: 15px;
  }

  .create-button {
    width: 25px;
    height: 25px;
    font-size: 22px;
  }

 .edit-buttons-container {
    padding-right: 5px;
  }

  .create-buttons-container {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .price {
    display: block;
  }


}

@media (min-width: 768px) {

  .products-list {
    width: 70%;
    margin: 2.5% 15%;
    max-width: 700px;
  }

  .titulo-productos {
    padding-top: 22px;
    padding-bottom: 22px;
  }


  .create-buttons-container{
    padding-right: 61px;
    padding-bottom: 20px;
  }

  .item {
    padding-left: 30px;
    padding-right: 30px;
    transition: all 450ms;
  }

  main section .product:hover {
    opacity: 0.7;
  }

  .unidades {
    display: block;
  }
}
