* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.h1-bienvenida {
    color: white;
    font-size: 1.1rem;
    margin: 25px;
    text-align: center;
}

.titulo-bienvenida-profile {
    margin-top: 140px;
}

div.datosUsuarios{
    background-color: white;
    padding: 10px;
}

.datosUsuarios h2{
    text-align: center;
}

div.cajaDatos{
    background-color: white;
    letter-spacing: 0.05ch;
    margin: auto;
    padding: 11px 12px;
    border-radius: 0%;
    line-height: 23px;
    text-align: center;
    width: 80%;
    font-size: 0.9rem;
}


div.cajaImagenUsuario{
    align-items: center;
    margin: auto;
    padding: 18px 0px;
    border-radius: 0%;
    line-height: 21px;
    text-align: center;
    width: 80%;
}

a {
    text-decoration: none;
}

.cajaImagenUsuario img {
    width: 30%;
    min-width: 100px;
    border-radius: 3%;
}

@media (min-width: 1200px) {
    .datosUsuarios {
       min-height: 800;
    }
}

@media (min-width: 605px) {
    .meta-flex {
        display: flex;
        justify-content: space-around;
        padding: 15px;
        flex-direction: row-reverse;
        width: 70%;
        max-width: 700px;
        margin: auto;
    }

    div.cajaDatos {
        text-align: left;
    }

    .cajaImagenUsuario img {
        min-width: 160px;
    }
}