* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}
.main-form-register {
    background-color: white; 
    display: flex;
    flex-direction: column; 
    margin: 10%;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
}

/*--TITLE--*/
.title-register {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.subtitle-register {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
}

/*--FORM--*/
.form{
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    font-family: sans-serif;
    justify-content: center;
    padding-top: 0px;
}

/*DATA ENTRY BOXES*/
.boxes{
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all .5s ease;
    border-color: 5px solid #061161;
    border-left: 10px solid #061161;
}

.boxes:hover, .boxes:focus {
    border-left: 10px solid #780206;
}
/*TEXTS*/
.date {
    margin-bottom: 2em;
    color: gray;
}

.password-text {
    text-align: justify;
    text-align: left;
    font-size: 12px;
    margin-bottom: 1.5em; 
}

.already-have-account-text {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 14px;
    text-align: center;
}

.term {
  font-size: 12px;
}



/* BUTTON */
.button-register-account {
    border-radius: 5px;
    border: none;
    padding: 8px;
    background-color: var(--light-blue);
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    width: 200px;
}

.button-register-account:hover {
    background-color: #061161;
    color: white;
    box-shadow: 0px 0px 10px rgb(141, 47, 47);
    font-weight:lighter 
}


.button {
    text-align: center;
    margin: 0 3.5% 3.5% 3.5%;
  }

  .profile-photo {
    margin: auto;
  }

.file {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 20px;
    
}
  