:root {
  --white: #FFFFF;
  --light-blue: #02CFB7;
  --blue: #061161;
  --red: #780206;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  min-height: 100vh;
  background: -webkit-linear-gradient(to left, #061161, #780206);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #061161, #780206);
  display: flex;
  flex-direction: column;
}


/* HEADER */

.nav-container {
  position: fixed;
  z-index: 10;
  border: 2px white;
  background-color: #000000;
  display: flex;
  width: 100%;
  height: 80px;
  padding: 5px 10px 5px 5px;

}

.logo-nav {
  position: relative;
  background-image: url(/images/index/DH-gamers_Logo-final.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 20%;
  height: 100%;
}

.logo-nav img {
  position: absolute;
  width: 80px;
  top: 5px;
  left: 3px;
  opacity: 0%;
}

.saludo {
  color: white;
  font-size: 12px;
  display: none;
}

.search-nav {
  background-color: white;
  margin: auto;
  width: 60%;
  max-width: 600px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.search-nav input {
  width: 80%;
  height: 35px;
  border: none;
  outline: none;
}

.search-nav:hover {
  box-shadow: 0 1px 6px 0 rgb(221, 217, 217);
}

.micro-icon {
  background-image: url('/images/index/lupa.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.logout-icon {
  color: white;
  background-color: none;
}

.user-nav {
  /*background-image: url(/images/index/user.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  cursor: pointer;
}

.user-nav a {
  text-decoration: none;

}


.imagen-ingreso-grande {
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 25px;
  background-color: #02CFB7;
  border: 1px solid black;
  border-radius: 10px;
  display: none;
  font-size: 12px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}



.imagen-ingreso-grande:hover {
  background-color: #14f8dd;
  color: black;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.imagen-ingreso-chica {
  width: 40px;
  border-radius: 50px;
}

.imagen-default-chica {
  width: 40px;
  border-radius: 50px;
}

.product-list-button {
  padding-top: 15px;
  text-decoration: none;

}

/* MAIN */

main {
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(to left, #061161, #780206);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #061161, #780206);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-product-list {
  position: fixed;
  top: 80px;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;

  height: 40px;
  width: 100%;
  background-color: rgb(232, 229, 229);

  color: black;
  align-items: center;

}

.main-product-list i {
  color: #061161;
  width: 30px;
  cursor: pointer;
  font-size: 22px;
}

.main-product-list img {
  width: 30px;
  cursor: pointer;

}


.menu-barra-gris {
  display: none;
}



/* FOOTER */

footer {
  margin-top: auto;
  bottom: 0;

}

.footer-tablet-container {
  display: none;
}

.footer-container {
  border-top: 1px solid rgb(150, 145, 145, 0.5);
  width: 100%;
  height: 80px;
  background-color: black;
  ;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

.footer-menu-izquierda {

  padding-top: 10px;

  height: 100%;

}

.footer-list {
  padding-left: 10px;
}


.footer-list li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 20px;
}

.footer-redes-sociales {

  padding-top: 10px;

  height: 100%;
  line-height: 30px;
  text-align: center;

}

.footer-redes-sociales p {
  color: #02CFB7;
  font-size: 16px;

}

.footer-redes-sociales img {

  width: 20px;
  color: black;



}

@media (min-width: 606px) {
  .main-product-list i {
    display: none;
  }

  .menu-barra-gris {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  .menu-barra-gris li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    font-size: 11px;

  }

  .menu-barra-gris a {
    text-decoration: none;
    color: black;

  }

  .menu-barra-gris a:hover {

    color: #02CFB7;


  }

  .menu-barra-gris img {
    width: 15px;
    padding-left: 5px;
  }

  .footer-container {
    height: 90px;
  }


}


@media (min-width: 768px) {
  .logo-nav {
    width: 12%;
  }

  .user-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 15px;
    width: 25%;

  }

  .imagen-ingreso-grande {
    display: block;

  }

  .imagen-default-chica {
    display: none;
  }

  

  .footer-container {
    display: none;
  }

  .footer-tablet-container {
    border-top: 1px solid rgb(150, 145, 145, 0.5);
    width: 100%;
    height: 90px;
    background-color: black;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-tablet-izquierda {

    padding-left: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer--tablet-list {
    padding-left: 10px;
  }


  .footer-tablet-list li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 20px;
  }

  .footer-tablet-redes-sociales {

    padding-top: 10px;

    height: 100%;
    line-height: 30px;
    text-align: center;

  }

  .footer-tablet-redes-sociales p {
    color: #02CFB7;
    font-size: 16px;

  }

  .footer-tablet-redes-sociales img {

    width: 20px;
    color: black;

  }

  .footer-tablet-derecha {

    display: flex;
    justify-content: right;

  }

  .contacto-tablet-derecha {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    list-style: none;
    padding-right: 10px;
  }

  .contacto-tablet-derecha li {
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 20px;
  }


}


@media (min-width: 1000px) {
  .logo-nav {
    width: 10%;
  }

  .saludo {
    display: block;
  }

}